/* createsuer */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#income {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}
input, textarea, select{
    font-family: 'Noto Sans Thai', sans-serif;
}

span {
    color: red;
}

li {
    display: inline;
}

.supid {
    margin-top: -4.9rem;
}

input, textarea{
    padding: 8px;
}

textarea {
    width: 18rem;
    height: 10rem;
}

#basicinfo1, #productinfo1 {
    color: lightgray;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.btbtn {
    padding-bottom: 30px;
}

#thirddiv, #seconddiv {
    margin-top: 0px;
}

.headinput {
    font-family: 'Noto Sans Thai', sans-serif;
}

.btnbottom {
    width: 7rem;
    font-family: 'Noto Sans Thai', sans-serif;
}

.input1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

.selectunit {
    width: 18rem;
    margin-top: -5px;
}

.autocomplete {
    width: 18rem;
}