/* user */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#income {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#Rownumber{
    width: 50px;
    padding: 5px;
    height: 30px;
}

td{
    overflow: hidden;
    width: 100;
    text-align: left;
    font-family: 'Noto Sans Thai', sans-serif;
}

.detail {
    font-family: 'Noto Sans Thai', sans-serif;
    color: #4F4B4B;
}

#user {
    font-weight: bold;
    color: #5D5D60;
    font-family: 'Noto Sans Thai', sans-serif;
}

.searchmargin {
    margin-top: -12px;
}

.sicon {
    background: url(../searchtest.png) no-repeat 190px 10px;
}

#searchbar {
    text-align: left;
    padding: 3px;
    padding-right: 25px;
}

#show, #roww {
    margin-right: 8px;
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#nda {
    color: lightgray;
    padding: 10px;
    font-family: 'Noto Sans Thai', sans-serif;
}

#back, #nump, #next {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Noto Sans Thai', sans-serif;
    margin-bottom: 20px;
}

.tablee {
    padding-top: 40px;
}

#btncreate {
    margin-top: -7px;
    width: 11rem;
    background-color: white;
    color: black;
    border-color: black;
}

#cnew {
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
    color: black;
    padding-left: 8px;
}

#function0 {
    font-family: 'Noto Sans Thai', sans-serif;
    color: #4F4B4B;
    margin-left: 10px;
}

.space {
    margin-left: -45px;
}

#function1 {
    color: #F9A825;
}

.showrow {
    margin-top: -20px;
    margin-bottom: -30px;
}

/* modal */
#modalTitleId {
    color: #4F4B4B;
    font-weight: bold;
    margin-left: 15px;
    font-family: 'Noto Sans Thai', sans-serif;  
}

span {
    color: red;
}

#inputfont {
    font-family: 'Noto Sans Thai', sans-serif;
}

#cost1 {
    padding-top: 20px;
}

.modal-body {
    margin: 10px 70px;
}

.modal-footer {
    margin-right: 25px;
    margin-bottom: 20px;
}

textarea {
    width: 10rem;
    height: 8.5rem;
    border-radius: 5px;
}

input, textarea {
    padding: 8px;
}

.supid {
    margin-top: 1rem;
}

.role {
    margin-top: -5.5rem;
}

.password {
    margin-top: 2rem;
}

.card {
    width: 15rem;
}
.role1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

#user1 {
    margin-left: 50px;
}