/* createsuer */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#income {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

input, textarea {
    padding: 8px;
}

textarea {
    width: 18rem;
    height: 7rem;
}

#thirddiv {
    margin-top: 15px;
}

#basicinfo1, #role1 {
    font-weight: bold;
    color: gray;
    font-family: 'Noto Sans Thai', sans-serif;
}

.btnbottom {
    width: 7rem;
    font-family: 'Noto Sans Thai', sans-serif;
}

span {
    color: red;
}

li {
    display: inline;
}

.headinput {
    font-family: 'Noto Sans Thai', sans-serif;
}
