.card1 {
    margin-left: 100px;
    margin-top: 20px;
    width: 500px;
}

.header {
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
}

.bcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ann {
    font-size: 20px;
    padding-left: 70px;
    margin-top: 30px;
    font-family: 'Noto Sans Thai', sans-serif;
}

.wallpaper {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
    color: #4F4B4B;
    margin-left: 20px;
    padding: 10px;
}

.wallpaper1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #4F4B4B;
    margin-right: 20px;
    padding: 10px;
}

.card2, .card3 {
    width: 390px;
    height: 420px;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
}

.card2 {
    margin-left: -135px;
}

.card3 {
    margin-left: -100px;
}

#fst {
    font-family: 'Poppins', sans-serif;
    color: #4F4B4B;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

#nump, #nump1 {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Poppins', sans-serif;
}

.btnbottom {
    padding: 20px;
    margin-bottom: 20px;
}

.card4 {
    width: 835px;
    height: 300px;
    transform: translate(620px, -345px);
}

.p1, .e1, .a1 {
    font-family: 'Noto Sans Thai', sans-serif;
    padding: 3px;
}