/* history */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.his1 {
    margin-top: -5px;
    margin-bottom: -8px;
    font-size: 41px;
}

#trianglefill {
    color: #8B9B81;
    transform: rotate(90deg);
    width: 10px;
    margin: 0px 20px 5px 20px;
}

#income {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 25px;
}

#Rownumber{
    width: 50px;
    padding: 5px;
    height: 30px;
}

td{
    overflow: hidden;
    width: 100;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
}

.top {
    margin-top: -12px;
}

#user {
    font-weight: bold;
    color: #5D5D60;
    font-family: 'Noto Sans Thai', sans-serif;
}

.sicon {
    background: url(../searchtest.png) no-repeat 195px 10px;
}

#searchbar {
    width: 50px;
    text-align: left;
    padding: 3px;
    padding-right: 25px;
}

#show, #roww {
    margin-right: 8px;
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

td,th {
    text-align: left;
    color: #4F4B4B;
    font-family: 'Noto Sans Thai', sans-serif;
}

#nda {
    color: lightgray;
    padding: 10px;
    font-family: 'Noto Sans Thai', sans-serif;
}

#back, #nump, #next {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Noto Sans Thai', sans-serif;
}

.tablee {
    padding-top: 40px;
}

#btnfilter {
    width: 7rem;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.showrow {
    margin-top: -20px;
    margin-bottom: -30px;
}