/* Inventory */
form {
    margin: 10px 30px;
}

#header, b, option, select,.modal-title {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.rowshow {
    width: 65px;
    height: 20px;
}

#searchbar {
    width: 200px;
    text-align: left;
    padding: 3px;
    padding-right: 25px;
}

#show, #roww {
    margin-right: 8px;
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#nda {
    color: lightgray;
    padding: 10px;
    font-family: 'Noto Sans Thai', sans-serif;
}

#back, #nump, #next {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Noto Sans Thai', sans-serif;
}

.tablee {
    padding-top: 40px;
}

td {
    overflow: hidden;
    width: 100;
    text-align: left;
    font-family: 'Noto Sans Thai', sans-serif;
}

.sicon {
    width: 15rem;
}

#btnreceive, #btnexcel, #btncreate {
    width: 10rem;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.detail {
    text-align: left;
    color: #4F4B4B;
    font-family: 'Noto Sans Thai', sans-serif;
}

.threeoptions {
    margin-top: -70px;
    /* margin-bottom: 40px; */
}

#excelicon {
    color: #14AE5C;
    margin: 0px 10px 2px 0px;
}

#plusfill {
    margin: 0px 10px 2px 0px;
}

#arrow {
    color: black;
    margin: 0px 10px 2px 0px;
}

#other {
    text-align: center;
}

#trashbin {
    color: red;
}

.showrow {
    margin-top: -20px;
    margin-bottom: -30px;
}

.tf {
    margin-top: -19px;
}

/* modal */
#modalTitleId {
    color: #4F4B4B;
    font-weight: bold;
}

span {
    color: red;
}

.detail2, .more, .detail1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

#more {
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
    color: black;
    padding: 5px 0px 5px 0px;
}

#unit2, #stockalert2 {
    font-family: 'Noto Sans Thai', sans-serif;
}

#cost1, .cost1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

#cost1 {
    margin-top: 10px;
}

.modal-body {
    margin: 10px 70px;
}

.mdb2 {
    margin: 10px 0px 0px 30px;
}

.hr1 {
    margin-right: 50px;
}

.selectunit {
    width: 15rem;
    margin-top: -5px;
}

.modal-footer {
    margin-right: 25px;
    margin-bottom: 20px;
}

#areyousure {
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    padding: 10px;
}

.btnc1, .btnc2 {
    width: 5rem;
}

.btnc2 {
    margin-left: 105px;
    text-align: center;
}

.headinput, #value {
    font-family: 'Noto Sans Thai', sans-serif;
}

#increase, #decrease {
    font-weight: bold;
}

.decrease {
    margin-left: 20px;
}

#amount {
    /* width: 1rem;
    height: 2rem; */
    margin: 0px 10px 0px 10px;
}

#issue, .issue {
    width: 15rem;
    height: 2rem;
    font-family: 'Noto Sans Thai', sans-serif;
}

.issue {
    margin-top: -20px;
    margin-bottom: 50px;
}

.inputGroupSelect02, #inputGroupSelect02 {
    width: 10rem;
    height: 20px;
    border-color: gray;
    border-radius: 0%;
}

.inputGroupSelect01, #inputGroupSelect01 {
    width: 15rem;
    height: 32px;
    border-color: gray;
    border-radius: 0%;
}
