#head {
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#btnlogin {
    font-family: 'Noto Sans Thai', sans-serif;
}

.left-side {
    background-color: #ededec;
    /* border-radius: 10px; */
    padding: 10px;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
}

#right-side {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
}

button {
    margin-top: 0px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 15rem;
    position: absolute;
    transform: translate(-45%, -50%);
    left: 50%;
    top: 45%;
}

.username, .password {
    padding-left: 30px;
}

.password, #padlock {
    top: 55%;
}

h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-45%, -50%);
    text-align: center;
    color: #5d5d60;
}

#padlock, #user {
    width: 50px;
    height: 54px;
    left: 36%;
    background-color: white;
    border-radius: 0px;
}

button {
    top: 70%;
    width: 10rem;
    border-radius: 30px;
    background-color: #5d5d60;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.UniqueFullWidth {
    width: 400px;
    margin: auto;
    border: none;
    background-color: #EDEDEC;
    margin-top: 35px;
    border: none;
    position: absolute;
    transform: translate(-45%, -50%);
    left: 50%;
    top: 45%;
}

.UniqueFullWidth .input-group-text {
    width: 48px;
    border-right: none;
    background-color: #ffffff;
}

.UniqueFullWidth [class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}

.UniqueFullWidth .username{
    border-left: none;
}

.UniqueFullWidth .password {
    border-left: none;
}

.UniqueFullWidth .input-group {
    padding: 10px;
}