div {
    background-color: #8B9B81;
}

#menu,h6 {
    font-family: 'Noto Sans Thai', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#avatar {
    border-radius: 30px;
}

#hrline {
    width: 135px;
    color: black;
}

.profile {
    /* width: 100px; */
}
.menu-dropdown{
    /* margin-top: 5%; */
}
#personicon {
    color: black;
    width: 50px;
    height: 30px;
    margin: 10px 0px -5px 10px;
}

.profilename {
    display: inline-flex;
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    max-width: 5rem;
    overflow: hidden;
}

li {
    float: left;
    border-right: 2px solid #ffff;
    width: 140px;
    padding: 0px 0px;
}

li h6 {
    color: white;
    text-align: center;
    /* padding: 0px 16px; */
}

li:hover {
    background-color: #586153;
    cursor: pointer;
}

img {
    display: block;
    width: 30px;
    margin: 0px auto;
}

.navbaricon {
    width: 20px;
}

#fistList {
    border-left: 2px solid #ffff;
}

#profile {
    display: inline;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10;
    right: 0;
    margin: 5px 20px;
    /* width: 20%; */
}
.showallnav{
    z-index: 1;
}
#logout {
    font-weight: bold;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.menu-dropdown {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    width: 10rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

p {
    text-align: right;
}

#name {
    max-width: 150px;
    overflow: hidden;
    padding-right: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.pop-up-text {
    text-align: center;
    color: red;
}
.his_popup{
    position: absolute;
    background-color: #fff;
    right: 76.5%;
    top: 39%;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    z-index: 1;
    /* margin-top: 50px; */
}
.navshow{
    display: inline-flex;
}