/* sell */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.invoicenumber {
    font-family: 'Noto Sans Thai', sans-serif;
    color: #5D5D60;
    margin-left: 20px;
}

#Rownumber {
    width: 50px;
    padding: 5px;
    height: 30px;
}

#show, #roww {
    margin-right: 8px;
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#list, #invoiceid, #selldate, #signature, #cost, #description, #function {
    text-align: center;
    color: #4F4B4B;
    font-family: 'Noto Sans Thai', sans-serif;
}

#back, #nump, #next {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Noto Sans Thai', sans-serif;
}

.tablee {
    padding-top: 40px;
}

#cnew {
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
    color: black;
    padding-left: 8px;
}

#btncreate {
    margin-top: -7px;
    width: 12rem;
    background-color: white;
    color: black;
    border-color: black;
}

.top {
    margin-top: -10px;
    margin-bottom: -30px;
}

.testt {
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
}

.testt2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.fileicon {
    color: #7F867B;
}

.pencilicon {
    color: black;
}

.vlist {
    text-align: right;
}

.invoiceinput {
    margin-left: 15px;
    margin-bottom: -15px;
}

.productnumput, .selectunit {
    margin-top: 5px;
    margin-bottom: -25px;
}

.selectunit {
    width: 7rem;
}