/* supplier */
form {
    margin: 10px 30px;
}

#header {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#user {
    font-weight: bold;
    color: #5D5D60;
    font-family: 'Noto Sans Thai', sans-serif;
}

.sicon {
    background: url(../searchtest.png) no-repeat 195px 10px;
}

#searchbar {
    width: 20px;
    text-align: left;
    padding: 3px;
    padding-right: 25px;
}

#show, #roww {
    color: #5D5D60;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

#list, #supplierid, #suppliername, #phonenumber, #email, #address, #function {
    color: #4F4B4B;
    font-family: 'Noto Sans Thai', sans-serif;
}

#back, #nump, #next {
    border-radius: 3px;
    border-color: white;
    color: white;
    background-color: #7F867B;
    font-family: 'Noto Sans Thai', sans-serif;
}

.tablee {
    padding-top: 40px;
}

#btncreate {
    margin-top: -7px;
    width: 11rem;
    font-weight: bold;
    font-family: 'Noto Sans Thai', sans-serif;
}

.space {
    margin-left: -45px;
}


.top {
    margin-top: -12px;
}

/* .l {
    width: 90px;
    margin-left: -1280px;
} */

.showrow {
    margin-top: -20px;
    margin-bottom: -30px;
}

#Rownumber{
    width: 50px;
    padding: 10px;
    height: 30px;
}

/* modal */
#modalTitleId {
    color: #4F4B4B;
    font-weight: bold;
}

span {
    color: red;
}

#suppliername1, #supplierid1, #email1, #address1, #phonenumber1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

#cost1 {
    padding-top: 20px;
}

.modal-body {
    margin: 10px 70px;
}

.modal-footer {
    margin-right: 25px;
    margin-bottom: 20px;
}

.textarea {
    width: 15rem;
}

.ph1, .ph2 {
    margin-top: -115px;
}

#excelicon {
    color: black;
    margin: 0px 10px 2px 0px;
}