<template>
    <div>
        <NavbarVue></NavbarVue>
        <form>
            <h1 id="header">สร้างสินค้าใหม่</h1>
            <hr>
            <!-- part1 -->
            <div class="row">
                <div class="col-3 pb-3">
                    <!-- <v-text-field v-model="firstname" :rules="nameRules" :counter="10" label="First name"
                      required></v-text-field> -->
                    <h6 class="detail1">หมายเลขสินค้า<span>*</span></h6>
                    <v-text-field dense outlined v-model="inputValue[0]" type="text" style="width: 15rem;"></v-text-field>
                    <b class="text-danger textalert">{{ Errshow1 }}</b>
                    <!-- <b v-if="inputValue[0] != ''" class="text-danger textalert">{{ IdCheck }}</b> -->
                </div>
                <div class="col-3">
                    <h6 class="detail1">ชื่อสินค้า<span>*</span></h6>
                    <v-text-field dense outlined v-model="inputValue[1]" type="text" style="width: 15rem;"></v-text-field>
                    <b class="text-danger textalert">{{ Errshow2 }}</b>
                </div>
                <div class="col-3 sm=6">
                    <h6 class="detail1">หน่วย<span>*</span></h6>
                    <div data-app>
                        <v-select v-model="inputValue[2]" class="selectunit" :items="unit" label="เลือกหน่อย" solo>
                        </v-select>
                    </div>
                    <!-- <v-select class="dropdown" outlined v-model="inputValue[2]" type="dropdown" style="width: 15rem;">
                      <option v-for="(item, index) in unit" :key="index" :value="item.UNIT_ID">{{ item.UNIT_ID }} - {{
                        item.UNIT_NAME }}</option>
                    </v-select> -->
                    <b class="text-danger textalert">{{ Errshow3 }}</b>
                </div>
                <div class="col-3">
                    <h6 class="detail1">ประเภท<span>*</span></h6>
                    <v-text-field dense outlined v-model="inputValue[3]" type="text" style="width: 15rem;"></v-text-field>
                    <b class="text-danger textalert">{{ Errshow4 }}</b>
                </div>
                <div class="col-3">
                    <h6 id="cost1">ราคาขาย (บาท)<span>*</span></h6>
                    <v-text-field dense outlined v-model="inputValue[4]" type="text" style="width: 15rem;"></v-text-field>
                    <b class="text-danger textalert">{{ Errshow5 }}</b>
                </div>
            </div>
            <hr>

            <!-- modal fotter -->
            <div class="modal-footer">
                <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                <button class="btn btn-success mt-4 mx-3 float-end" type="submit" style="width: 7rem;">
                    ยืนยัน</button>
                <router-link to="/inventory">
                    <button class="btn btn-danger mt-4" type="button" style="width: 7rem;">ยกเลิก</button>
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'

// import Autocomplete from 'vue2-autocomplete-js'
import NavbarVue from '@/components/Navbar.vue'
export default {
    name: 'ProuctcomeVue',
    data() {
        return {
            searchValue: '',
            getproduct: '',
            title: '',
            text: '',
            icon: '',
            proId: '',
            supId: '',
            unit: [],
            unitAll: [],
            unitid: '',
            inputValue: ['', '', '', '', ''],
            ErrText: ['', '', '', '', ''],
            inputEdit: ['', '', '', '', '', '', '', '', '', '', '', ''],
            isShow: true,
            validate: [],
            Text: ['กรอกหมายเลขสินค้า', 'กรอกชื่อสินค้า', 'เลือกหน่วย', 'กรอกประเภท', 'กรอกราคาขาย'],
            IdCheck: '',
            modalcheck: false,
            Errshow1: '',
            Errshow2: '',
            Errshow3: '',
            Errshow4: '',
            Errshow5: '',
            num: '',
            awesome: '',
            index: '',
            indexShow: 5,
            pages: 1,
        }
    },
    components: {
        // Autocomplete,
        NavbarVue
    },
    created() {
        this.getProductinfo()
        this.AxiosUnit()
    },
    updated() {
        // console.log('ERR', this.ErrText);
        // console.log('inout', this.inputValue);
        // console.log(this.modalcheck);
        this.AxiosProid()
        if (this.ErrText.every(item => item == '') == true & this.inputValue.includes('') == false) {
            this.modalcheck = true
        }
        else if (this.ErrText.every(item => item == '') == true & this.inputEdit.includes('') == false) {
            this.modalcheck = true
        }
        else {
            this.modalcheck = false
        }
    },
    methods: {
        Reset() {
            this.num = 2
            this.showErr()
        },
        onCreate() {
            this.num = 1
            this.showErr()
            console.log('ONCLICK', this.ErrText);
            if (this.modalcheck == true) {
                this.AxiosPostproduct()
                this.title = "สร้างสินค้าใหม่สำเร็จ"
                this.text = "สินค้าถูกสร้างเรียบร้อย"
                this.icon = "success"

                this.showAlert()
            }
            else {
                this.num = 2
            }
        },
        showErr() {
            for (let i in this.inputValue) {
                this.ErrText[i] = ''
                if (this.inputValue[i] == '' & this.num == 1) {
                    this.ErrText[i] = 'โปรด' + this.Text[i]
                }
                else if (this.num == 2) {
                    this.ErrText[i] = ''
                    this.inputValue = ['', '', '', '', '']
                }
                else {
                    this.ErrText[i] = ''
                }
            }
            this.Errshow1 = this.ErrText[0]
            this.Errshow2 = this.ErrText[1]
            this.Errshow3 = this.ErrText[2]
            this.Errshow4 = this.ErrText[3]
            this.Errshow5 = this.ErrText[4]
        },
        indexValue(value) {
            this.index = value
            console.log(value);
        },
        AxiosProid() {
            if (this.inputValue[0] != '') {
                console.log(this.inputValue[0]);
                axios.get('http://localhost:8000/api_protal/product/getproduct/' + this.inputValue[0])
                    .then((res) => {
                        if (res.data.length == 1) {
                            this.Errshow1 = 'หมายเลขสินค้านี้ถูกสร้างแล้ว'
                            this.ErrText[0] = 'หมายเลขสินค้านี้ถูกสร้างแล้ว'
                        }
                        else if (res.data.length == 0) {
                            this.Errshow1 = ''
                            this.ErrText[0] = ''
                            this.ErrText[1] = ''
                            this.ErrText[2] = ''
                            this.ErrText[3] = ''
                            this.ErrText[4] = ''
                        }
                    })
            }
        },
        AxiosUnit() {
            axios.get('http://localhost:8000/api_protal/product/getunit')
                .then((res) => {
                    for (let i in res.data) {
                        this.unit[i] = res.data[i].UNIT_NAME
                    }
                    this.unit = Array.from(this.unit)
                    this.unitAll = res.data

                })
        },
        getProductinfo() {
            axios.get('http://localhost:8000/api_protal/product/showinvetory')
                .then((res) => {
                    console.log(res.data);
                    this.getproduct = res.data
                    for (let i in this.getproduct) {
                        this.AxiosSelectReamin(this.getproduct[i].PRO_ID, this.getproduct[i].PRO_LOT, i)
                    }
                }).catch((err) => {
                    console.log(err)
                })
        },
        async AxiosPostproduct() {
            await axios.post('http://localhost:8000/api_protal/product/createproduct',
                {
                    PRO_ID: parseInt(this.inputValue[0]),
                    PRO_NAME: this.inputValue[1],
                    UNIT_ID: parseInt(this.inputValue[2]),
                    PRO_TYPE: this.inputValue[3],
                    PRO_SALE_PRICE: parseInt(this.inputValue[4]),
                })
        }, AxiosSelectReamin(id, lot, i) {
            axios.get('http://localhost:8000/api_protal/product/selectremian/' + id + '/' + lot).then((res) => {
                this.getproduct[i].PRO_REMAIN = res.data
            })
        }
        ,
        cancelmoreedit() {
            this.awesome = false
        },
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.getproduct);
            return dataArray.slice(modifiedIndex);
        }
    }
}
</script>

<style scoped src="../assets/style/Addproduct.css"></style>