<template>
    <div>
        <NavbarVue hoverbutton4 ="background-color: #586153;"></NavbarVue>
        <form action="">
            <h1 id="header">สร้างสินค้า</h1>
            <hr />

            <!-- searchbar -->
            <v-text-field dense outlined v-model="searchValue" class="sicon" name="" id="searchbar" type="search"
                :append-icon="'mdi-magnify'" @keydown.enter="performSearch"></v-text-field>
            <div class="d-grid gap-3 d-md-flex float-end threeoptions">
                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalId1" id="btncreate"
                    type="button" @click="Reset()"><b-icon icon="plus-square-fill"
                        id="plusfill"></b-icon>สร้างสินค้า</button>
            </div>

            <!-- list -->
            <v-row>
                <v-col class="showrow">
                    <label id="show">แสดง</label>
                    <input dense outlined v-model="indexShow" class="rowshow" type="number" name="" id="Rownumber" min="5"
                        max="100" step="5" />
                    <!-- <v-text-field placeholder="Placeholder"></v-text-field> -->
                    <label id="roww">แถว</label>
                </v-col>
            </v-row>
            <!-- <div div class="d-grid d-md-flex float-end">
              <button class="btn btn-outline-dark" id="btnfilter" type="button" data-bs-toggle="modal"
                data-bs-target="#modalId4">กรอง</button>
            </div> -->

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col" class="detail">ลำดับที่</th>
                            <th scope="col" class="detail">หมายเลขสินค้า</th>
                            <th scope="col" class="detail">ชื่อสินค้า</th>
                            <th scope="col" class="detail">ประเภทสินค้า</th>
                            <th scope="col" class="detail">หน่วย</th>
                            <th scope="col" class="detail">ราคาขาย (บาท)</th>
                        </tr>
                        <tr v-for="(item, index) in sortedData" :key="index" v-show="indexShow >= index + 1">
                            <th>{{ index + 1 + (indexShow * (pages - 1)) }}</th>
                            <td>{{ item.PRO_ID }}</td>
                            <td>{{ item.PRO_NAME }}</td>
                            <td>{{ item.PRO_TYPE }}</td>
                            <td>{{ item.UNIT_NAME }}</td>
                            <td>{{ item.PRO_SALE_PRICE }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
                <!-- <div class="text-center">
            <label for="" id="nda">No Data Available</label>
          </div> -->
            </div>

            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>

        <!-- modal1 Create Product-->
        <form @submit.prevent="onCreate()">
            <div class="modal fade" id="modalId1" tabindex="-1" aria-labelledby="modalTitleId">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modalTitleId">สร้างสินค้าใหม่</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="modalbody">
                                <div class="row">
                                    <div class="col-6 pb-3">
                                        <!-- <v-text-field v-model="firstname" :rules="nameRules" :counter="10" label="First name"
                        required></v-text-field> -->
                                        <h6 class="detail1">หมายเลขสินค้า<span>*</span></h6>
                                        <v-text-field dense outlined v-model="inputValue[0]" type="text"
                                            style="width: 15rem;"></v-text-field>
                                        <b class="text-danger textalert">{{ Errshow1 }}</b>
                                        <!-- <b v-if="inputValue[0] != ''" class="text-danger textalert">{{ IdCheck }}</b> -->
                                    </div>
                                    <div class="col-6">
                                        <h6 class="detail1">ชื่อสินค้า<span>*</span></h6>
                                        <v-text-field dense outlined v-model="inputValue[1]" type="text"
                                            style="width: 15rem;"></v-text-field>
                                        <b class="text-danger textalert">{{ Errshow2 }}</b>
                                    </div>
                                    <div class="col-6 sm=6">
                                        <h6 class="detail1">หน่วย<span>*</span></h6>
                                        <div data-app>
                                            <v-select v-model="inputValue[2]" class="selectunit" :items="unit"
                                                label="เลือกหน่วย" solo>
                                            </v-select>
                                        </div>
                                        <!-- <v-select class="dropdown" outlined v-model="inputValue[2]" type="dropdown" style="width: 15rem;">
                        <option v-for="(item, index) in unit" :key="index" :value="item.UNIT_ID">{{ item.UNIT_ID }} - {{
                          item.UNIT_NAME }}</option>
                      </v-select> -->
                                        <b class="text-danger textalert">{{ Errshow3 }}</b>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="detail1">ประเภท<span>*</span></h6>
                                        <v-text-field dense outlined v-model="inputValue[3]" type="text"
                                            style="width: 15rem;"></v-text-field>
                                        <b class="text-danger textalert">{{ Errshow4 }}</b>
                                    </div>
                                    <div class="col-6">
                                        <h6 id="cost1">ราคาขาย (บาท)<span>*</span></h6>
                                        <v-text-field dense outlined v-model="inputValue[4]" type="text"
                                            style="width: 15rem;"></v-text-field>
                                        <b class="text-danger textalert">{{ Errshow5 }}</b>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- modal fotter -->
                        <div class="modal-footer">
                            <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                            <button class="btn btn-success mt-4 mx-3 float-end" type="submit"
                                :data-bs-dismiss="modalcheck == true ? 'modal' : ''" style="width: 7rem;">
                                ยืนยัน</button>
                            <button class="btn btn-danger mt-4" type="button" data-bs-dismiss="modal"
                                style="width: 7rem;">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
  
<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import NavbarVue from '@/components/Navbar.vue';
export default {
    name: "AddProduct",
    components: {
        NavbarVue
    },
    data() {
        return {
            searchValue: '',
            getproduct: '',
            title: '',
            text: '',
            icon: '',
            proId: '',
            supId: '',
            unit: [],
            unitAll: [],
            unitid: '',
            inputValue: ['', '', '', '', ''],
            ErrText: ['', '', '', '', ''],
            inputEdit: ['', '', '', '', '', '', '', '', '', '', '', ''],
            isShow: true,
            validate: [],
            Text: ['กรอกหมายเลขสินค้า', 'กรอกชื่อสินค้า', 'เลือกหน่วย', 'กรอกประเภท', 'กรอกราคาขาย'],
            IdCheck: '',
            modalcheck: false,
            Errshow1: '',
            Errshow2: '',
            Errshow3: '',
            Errshow4: '',
            Errshow5: '',
            num: '',
            awesome: '',
            index: '',
            indexShow: 5,
            pages: 1,
        }
    },

    created() {
        this.getProductinfo()
        this.AxiosUnit()
    },
    updated() {
        // console.log('ERR', this.ErrText);
        // console.log('inout', this.inputValue);
        // console.log(this.modalcheck);
        this.AxiosProid()
        if (this.ErrText.every(item => item == '') == true & this.inputValue.includes('') == false) {
            this.modalcheck = true
        }
        else if (this.ErrText.every(item => item == '') == true & this.inputEdit.includes('') == false) {
            this.modalcheck = true
        }
        else {
            this.modalcheck = false
        }
    },
    methods: {
        async performSearch() {
            await this.getProductinfo()
            if (this.searchValue != '') {
                this.valueSearch = []
                for (let i in this.getproduct) {
                    console.log("ลำดับที่" + i);
                    for (let j in this.getproduct[i]) {
                        // console.log(this.getproduct[i][j]);
                        // console.log(this.getproduct[i][j].toString().includes(this.searchValue) + "  " + this.getproduct[i][j] + "  " + this.searchValue);
                        if (this.getproduct[i][j].toString().includes(this.searchValue) == true) {
                            this.valueSearch.push(this.getproduct[i])
                            break
                        }
                    }
                }
                console.log(this.valueSearch);
                this.getproduct = this.valueSearch
            }
            else {
                this.getProductinfo()
            }
        },
        Reset() {
            this.num = 2
            this.showErr()
        },
        onCreate() {
            this.num = 1
            this.showErr()
            console.log('ONCLICK', this.ErrText);
            if (this.modalcheck == true) {
                this.AxiosPostproduct()
                this.title = "สร้างสินค้าใหม่สำเร็จ"
                this.text = "สินค้าถูกสร้างเรียบร้อย"
                this.icon = "success"

                this.showAlert()
            }
            else {
                this.num = 2
            }
        },
        showErr() {
            for (let i in this.inputValue) {
                this.ErrText[i] = ''
                if (this.inputValue[i] == '' & this.num == 1) {
                    this.ErrText[i] = 'โปรด' + this.Text[i]
                }
                else if (this.num == 2) {
                    this.ErrText[i] = ''
                    this.inputValue = ['', '', '', '', '']
                }
                else {
                    this.ErrText[i] = ''
                }
            }
            this.Errshow1 = this.ErrText[0]
            this.Errshow2 = this.ErrText[1]
            this.Errshow3 = this.ErrText[2]
            this.Errshow4 = this.ErrText[3]
            this.Errshow5 = this.ErrText[4]
        },
        OnDelete() {
            this.title = "สินค้าถูกลบแล้ว"
            this.text = "สินค้าชิ้นนี้ได้ทำการถูกลบแล้ว"
            this.icon = "success"
            axios.put('http://localhost:8000/api_protal/product/deactiveProduct/' + this.index)
            this.showAlert()
            this.getProductinfo()
        },
        indexValue(value) {
            this.index = value
            console.log(value);
        },
        showAlert() {
            Swal.fire({
                title: this.title,
                text: this.text,
                icon: this.icon,
            });
        },
        AxiosProid() {
            if (this.inputValue[0] != '') {
                console.log(this.inputValue[0]);
                axios.get('http://localhost:8000/api_protal/product/getproduct/' + this.inputValue[0])
                    .then((res) => {
                        if (res.data.length == 1) {
                            this.Errshow1 = 'หมายเลขสินค้านี้ถูกสร้างแล้ว'
                            this.ErrText[0] = 'หมายเลขสินค้านี้ถูกสร้างแล้ว'
                        }
                        else if (res.data.length == 0) {
                            this.Errshow1 = ''
                            this.ErrText[0] = ''
                            this.ErrText[1] = ''
                            this.ErrText[2] = ''
                            this.ErrText[3] = ''
                            this.ErrText[4] = ''
                        }
                    })
            }
        },
        AxiosUnit() {
            axios.get('http://localhost:8000/api_protal/product/getunit')
                .then((res) => {
                    for (let i in res.data) {
                        this.unit[i] = res.data[i].UNIT_NAME
                    }
                    this.unit = Array.from(this.unit)
                    this.unitAll = res.data

                })
        },
        async getProductinfo() {
            await axios.get('http://localhost:8000/api_protal/product/showmasterpro')
                .then((res) => {
                    console.log(res.data);
                    this.getproduct = res.data
                    // for (let i in this.getproduct) {
                    //     this.AxiosSelectReamin(this.getproduct[i].PRO_ID, this.getproduct[i].PRO_LOT, i)
                    // }
                }).catch((err) => {
                    console.log(err)
                })
        },
        async AxiosPostproduct() {
            await axios.get('http://localhost:8000/api_protal/product/getUnitidfromName/'+this.inputValue[2]).then((res)=>{
                this.unitid = res.data[0].UNIT_ID
            })
            axios.post('http://localhost:8000/api_protal/product/createproduct',
                {
                    PRO_ID: parseInt(this.inputValue[0]),
                    PRO_NAME: this.inputValue[1],
                    UNIT_ID: this.unitid,
                    PRO_TYPE: this.inputValue[3],
                    PRO_SALE_PRICE: parseInt(this.inputValue[4]),
                })
                this.getProductinfo()
        }, AxiosSelectReamin(id, lot, i) {
            axios.get('http://localhost:8000/api_protal/product/selectremian/' + id + '/' + lot).then((res) => {
                this.getproduct[i].PRO_REMAIN = res.data
            })
        }
        ,
        cancelmoreedit() {
            this.awesome = false
        },
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.getproduct);
            return dataArray.slice(modifiedIndex);
        }
    }
};
</script>
  
<style scoped src="../assets/style/Inventory.css"></style>