<template>
    <div>
        <NavbarVue hoverbutton7 ="background-color: #586153;"></NavbarVue>
        <form @submit.prevent="submitForm">
            <h1 id="header">สร้างผู้ใช้ใหม่</h1>
            <hr>
            <h6 id="income">สร้างผู้ใช้ใหม่</h6>
            <h6 class="my-3" id="basicinfo1">1. ข้อมูลพื้นฐาน</h6>
            <div class="row">
                <div class="col-3">
                    <h6 class="headinput">ชื่อ<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[0]" type="text" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[0]" class="text-danger textalert">{{ ErrText[0] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">นามสกุล<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[1]" type="text" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[1]" class="text-danger textalert">{{ ErrText[1] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">รหัสพนักงาน<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[2]" type="text" pattern="[0-9]*" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[2]" class="text-danger textalert">{{ ErrText[2] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">อีเมล<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[3]" type="email" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[3]" class="text-danger textalert">{{ ErrText[3] }}</b>
                </div>
            </div>
            <div class="row" id="thirddiv">
                <div class="col-3">
                    <h6 class="headinput">ที่อยู่<span> *</span></h6>
                    <v-textarea dense outlined v-model="inputValue[4]" name="address" maxlength="100" id="address" cols="23"
                        rows="3" style="width: 18rem;"></v-textarea><br>
                    <b v-if="ErrText[4]" class="text-danger textalert">{{ ErrText[4] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">เบอร์โทรศัพท์<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[5]" type="text" maxlength="10" pattern="[0-9]*" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[5]" class="text-danger textalert">{{ ErrText[5] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">รหัสผ่าน<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[6]" type="password" style="width: 18rem;"></v-text-field><br>
                    <b v-if="ErrText[6]" class="text-danger textalert">{{ ErrText[6] }}</b>
                </div>
                <div class="col-3">
                    <h6 class="headinput">ยืนยันรหัสผ่าน<span> *</span></h6>
                    <v-text-field dense outlined v-model="inputValue[7]" type="password" style="width: 18rem;"></v-text-field><br>
                    <b v-if="validate" class="text-danger textalert">{{ validate }}</b>
                </div>
            </div>
            <div>
                <h6 class="mt-3" id="role1">2. เลือกตำแหน่ง</h6>
                <input v-model="selectrole" type="radio" name="role" id="1" value="แอดมิน">
                <label class="mx-3 headinput">แอดมิน</label>
                <input v-model="selectrole" type="radio" name="role" id="2" value="ผู้ใช้งาน">
                <label class="mx-3 headinput">ผู้ใช้งาน</label>
            </div>
            <b v-if="selectrolevalue" class="text-danger textalert">{{ selectrolevalue }}</b>
            <hr>
            <div class="float-end mb-4">
                <button class="btn btn-success mt-4 mx-3 btnbottom" type="submit">สร้างบัญชี</button>
                <router-link to="/user"><button class="btn btn-danger mt-4 btnbottom"
                        type="submit">ยกเลิก</button></router-link>
            </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
import NavbarVue from '@/components/Navbar.vue'
export default {
    name: 'CreateUser',
    components:{
        NavbarVue
    },
    data() {
        return {
            inputValue: ['', '', '', '', '', '', '', ''],
            ErrText: ['', '', '', '', '', '', '', ''],
            validate: '',
            selectrole: '',
            selectrolevalue: '',
            userInput: "",
            errorMessage: ""

        }
    },
    methods: {
        submitForm() {
            let typeError = ['ชื่อ', 'นามสกุล', 'รหัสพนักงาน', 'อีเมล', 'ที่อยู่', 'เบอร์โทรศัพท์', 'รหัสผ่าน', 'ยืนยันรหัสผ่าน']
            // const textalert = document.getElementsByClassName('textalert')
            console.log(this.selectrole);
            console.log(this.selectrolevalue);
            // console.log(parseInt(this.inputValue[2], 10));
            this.selectrolevalue = ''
            if (this.selectrole == '') {
                this.selectrolevalue = 'โปรดเลือกตำแหน่ง'
                this.ErrText[8] = this.selectrolevalue
                this.inputValue[8] = ''
            }
            else {
                this.selectrolevalue = ''
                this.inputValue[8] = this.selectrole
                this.ErrText[8] = this.selectrolevalue
            }
            for (let x in this.inputValue) {
                this.ErrText[x] = "";
                if (x == 7) {
                    this.validate = "";
                }
                if (x == this.inputValue.length - 1 & this.inputValue.includes('') == false & this.ErrText.includes('') == true) {
                    if (this.inputValue[6] != this.inputValue[7]) {
                        this.validate = "รหัสผ่านไม่ตรงกัน";
                    }
                    else {
                        this.Axiosfetch()
                        alert("Create User Successfull")
                        this.$router.push('/user')
                    }
                }
                if (this.inputValue[x] == '') {
                    this.ErrText[x] = "โปรดกรอก" + typeError[x];
                    if (x == 7) {
                        this.validate = "โปรดกรอก" + typeError[x]
                    }
                }

            }
            console.log("Value :", this.inputValue);
            console.log('ERROR :', this.ErrText);
            console.log('Value Include: ', this.inputValue.includes(''));
            console.log('ERROR Include: ', this.ErrText.includes(''));
            console.log('Length: ', this.inputValue.length);
            console.log('Role: ', this.inputValue[8]);
        },
        Axiosfetch() {
            axios.post('http://localhost:8000/api_protal/account/register',
                {
                    id: parseInt(this.inputValue[2], 10),
                    name: this.inputValue[0] + " " + this.inputValue[1],
                    password: this.inputValue[7],
                    phonenum: this.inputValue[5],
                    email: this.inputValue[3],
                    address: this.inputValue[4],
                    role: this.selectrole,
                    actID: 1
                })
        }
    }
}
</script>

<style scoped src="../assets/style/Createuser.css"></style>