<template>
  <div>
    <NavbarVue hoverbutton1="background-color: #586153;"></NavbarVue>
    <form action="">
      <h1 id="header">คงคลังสินค้า</h1>
      <hr />

      <!-- searchbar -->
      <v-text-field dense outlined v-model="searchValue" class="sicon" name="" id="searchbar" type="search"
        :append-icon="'mdi-magnify'" @keydown.enter="performSearch"></v-text-field>

      <!-- list -->
      <v-row>
        <v-col class="showrow">
          <label id="show">แสดง</label>
          <input dense outlined v-model="indexShow" class="rowshow" type="number" name="" id="Rownumber" min="5" max="100"
            step="5" />
          <!-- <v-text-field placeholder="Placeholder"></v-text-field> -->
          <label id="roww">แถว</label>
        </v-col>
      </v-row>
      <!-- <div div class="d-grid d-md-flex float-end">
            <button class="btn btn-outline-dark" id="btnfilter" type="button" data-bs-toggle="modal"
              data-bs-target="#modalId4">กรอง</button>
          </div> -->

      <!-- table -->
      <div class="table tablee">
        <table class="table caption-top">
          <thead>
            <tr>
              <th scope="col" class="detail">ลำดับที่</th>
              <th scope="col" class="detail">หมายเลขสินค้า</th>
              <th scope="col" class="detail">ชื่อสินค้า</th>
              <th scope="col" class="detail">ประเภทสินค้า</th>
              <th scope="col" class="detail">ราคาขาย(บาท)</th>
              <th scope="col" class="detail">คงเหลือ</th>
              <th scope="col" class="detail">หน่วย</th>
            </tr>
            <tr v-for="(item, index) in sortedData" :key="index" v-show="indexShow >= index + 1">
              <th>{{ index + 1 + (indexShow * (pages - 1)) }}</th>
              <td>{{ item.PRO_ID }}</td>
              <td>{{ item.PRO_NAME }}</td>
              <td>{{ item.PRO_TYPE }}</td>
              <td>{{ item.PRO_SALE_PRICE }}</td>
              <td>{{ item.PRO_REMAIN }}</td>
              <td>{{ item.UNIT_NAME }}</td>
            </tr>
          </thead>
          <tbody>
            <!--  -->
          </tbody>
        </table>
        <!-- <div class="text-center">
          <label for="" id="nda">No Data Available</label>
        </div> -->
      </div>

      <!-- bottom button -->
      <div class="d-grid d-md-flex float-end">
        <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
        <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
        <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import NavbarVue from '@/components/Navbar.vue';
export default {
  name: "InventoryVue",
  components: {
    NavbarVue
  },
  data() {
    return {
      searchValue: '',
      getproduct: '',
      title: '',
      text: '',
      icon: '',
      proId: '',
      supId: '',
      unit: [],
      unitAll: [],
      unitid: '',
      inputValue: ['', '', '', '', ''],
      ErrText: ['', '', '', '', ''],
      inputEdit: ['', '', '', '', '', '', '', '', '', '', '', ''],
      isShow: true,
      validate: [],
      Text: ['กรอกหมายเลขสินค้า', 'กรอกชื่อสินค้า', 'เลือกหน่วย', 'กรอกประเภท', 'กรอกราคาขาย'],
      IdCheck: '',
      modalcheck: false,
      Errshow1: '',
      Errshow2: '',
      Errshow3: '',
      Errshow4: '',
      Errshow5: '',
      num: '',
      awesome: '',
      index: '',
      indexShow: 5,
      pages: 1,
      valueSearch: []
    }
  },


  created() {
    this.getProductinfo()
    this.AxiosUnit()
  },
  updated() {
    // console.log('ERR', this.ErrText);
    // console.log('inout', this.inputValue);
    // console.log(this.modalcheck);
    if (this.ErrText.every(item => item == '') == true & this.inputValue.includes('') == false) {
      this.modalcheck = true
    }
    else if (this.ErrText.every(item => item == '') == true & this.inputEdit.includes('') == false) {
      this.modalcheck = true
    }
    else {
      this.modalcheck = false
    }
  },
  methods: {
    async performSearch() {
      await this.getProductinfo()
      if (this.searchValue != '') {
        this.valueSearch = []
        for (let i in this.getproduct) {
          console.log("ลำดับที่" + i);
          for (let j in this.getproduct[i]) {
            // console.log(this.getproduct[i][j]);
            console.log(this.getproduct[i][j].toString().includes(this.searchValue) + "  " + this.getproduct[i][j] + "  " + this.searchValue);
            if (this.getproduct[i][j].toString().includes(this.searchValue) == true) {
              this.valueSearch.push(this.getproduct[i])
              break
            }
          }
        }
        console.log(this.valueSearch);
        this.getproduct = this.valueSearch
      }
      else {
        this.getProductinfo()
      }
    },
    Reset() {
      this.num = 2
      this.showErr()
    },
    onCreate() {
      this.num = 1
      this.showErr()
      console.log('ONCLICK', this.ErrText);
      if (this.modalcheck == true) {
        this.AxiosPostproduct()
        this.title = "สร้างสินค้าใหม่สำเร็จ"
        this.text = "สินค้าถูกสร้างเรียบร้อย"
        this.icon = "success"

        this.showAlert()
      }
      else {
        this.num = 2
      }
    },
    showErr() {
      for (let i in this.inputValue) {
        this.ErrText[i] = ''
        if (this.inputValue[i] == '' & this.num == 1) {
          this.ErrText[i] = 'โปรด' + this.Text[i]
        }
        else if (this.num == 2) {
          this.ErrText[i] = ''
          this.inputValue = ['', '', '', '', '']
        }
        else {
          this.ErrText[i] = ''
        }
      }
      this.Errshow1 = this.ErrText[0]
      this.Errshow2 = this.ErrText[1]
      this.Errshow3 = this.ErrText[2]
      this.Errshow4 = this.ErrText[3]
      this.Errshow5 = this.ErrText[4]
    },
    indexValue(value) {
      this.index = value
      console.log(value);
    },
    showAlert() {
      Swal.fire({
        title: this.title,
        text: this.text,
        icon: this.icon,
      });
    },
    AxiosUnit() {
      axios.get('http://localhost:8000/api_protal/product/getunit')
        .then((res) => {
          for (let i in res.data) {
            this.unit[i] = res.data[i].UNIT_NAME
          }
          this.unit = Array.from(this.unit)
          this.unitAll = res.data

        })
    },
    async getProductinfo() {
      await axios.get('http://localhost:8000/api_protal/home/getAll')
        .then((res) => {
          console.log(res.data);
          this.getproduct = res.data
          for (let i in this.getproduct) {
            this.AxiosSelectReamin(this.getproduct[i].PRO_ID, i)
          }
        }).catch((err) => {
          console.log(err)
        })
    },
    AxiosSelectReamin(id, i) {
      axios.get('http://localhost:8000/api_protal/home/getRemain/' + id).then((res) => {
        if (this.getproduct[i] != undefined) {
          this.getproduct[i].PRO_REMAIN = res.data
        }
      })
    }
    ,
    cancelmoreedit() {
      this.awesome = false
    },
    Edit(index) {
      this.num = 2
      this.showErr()
      this.getproduct[index]
      console.log(this.getproduct[index]);
      this.inputEdit[0] = this.getproduct[index].PRO_LOT
      this.inputEdit[1] = this.getproduct[index].PRO_ID
      this.inputEdit[2] = this.getproduct[index].PRO_NAME
      this.inputEdit[3] = this.getproduct[index].PRO_BUY_PRICE
      this.inputEdit[4] = this.getproduct[index].PRO_TYPE
      this.inputEdit[5] = this.getproduct[index].PRO_EXP
      this.inputEdit[6] = this.getproduct[index].PRO_REMAIN
      this.inputEdit[7] = this.getproduct[index].PRO_SALE_PRICE
      this.inputEdit[8] = this.getproduct[index].UNIT_NAME
      this.unitid = this.unitAll[index].UNIT_ID
      axios.get('http://localhost:8000/api_protal/product/selectSupFromlot/' + this.inputEdit[1] + '/' + this.inputEdit[0]).then((res) => {
        this.supId = res.data[0].SUP_ID
      })
    },
    onEdit() {
      if (this.inputEdit.includes('') == false) {
        axios.post('http://localhost:8000/api_protal/product/changeamount', {
          lot: this.inputEdit[0],
          amount: this.inputEdit[10],
          proid: this.inputEdit[1],
          userid: window.localStorage.getItem("userid"),
          moveid: this.inputEdit[9],
          unitid: this.unitid,
          supid: this.supId,
          issue: this.inputEdit[11]
        })
        this.inputEdit = ['', '', '', '', '', '', '', '', '', '', '', '']
        this.getProductinfo()
      }
    }
  },
  computed: {
    sortedData() {
      // Calculate the modified index based on your criteria
      const modifiedIndex = this.indexShow * (this.pages - 1);

      // Convert this.getproduct to an array, sort it, and slice it
      const dataArray = Array.from(this.getproduct);
      return dataArray.slice(modifiedIndex);
    }
  }
};
</script>

<style scoped src="../assets/style/Inventory.css"></style>