<template>
    <div>
        <NavbarVue hoverbutton2 ="background-color: #586153;"></NavbarVue>
        <form action="">
            <label class="his1" id="header">ประวัติ</label>
            <b-icon icon="triangle-fill" id="trianglefill"></b-icon>
            <label class="" id="income">การเพิ่ม-ลดสินค้า</label>
            <hr />

            <!-- searchbar -->
            <div class="row top">
                <div class="col-2">
                    <v-text-field dense outlined v-model="searchValue" class="sicon" name="" id="searchbar" type="search"
                        @keydown.enter="performSearch"></v-text-field>
                </div>
            </div>

            <!-- list -->
            <div>
                <div class="showrow">
                    <label id="show">แสดง</label>
                    <input v-model="indexShow" class="mx-2" type="number" name="" id="Rownumber" min="5" step="5">
                    <label id="roww">แถว</label>
                    <!-- <div div class="d-grid d-md-flex float-end">
                        <button class="btn btn-outline-dark" id="btnfilter" type="button">กรอง</button>
                    </div> -->
                </div>
            </div>

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input mx-2" id="checkbox" type="checkbox" style="border-color: black;"></th> -->
                            <th scope="col" id="list">ลำดับที่</th>
                            <th scope="col" id="productnumber">หมายเลขสินค้า</th>
                            <th scope="col" id="lotnumber">หมายเลขล็อต</th>
                            <th scope="col" id="productname">ชื่อสินค้า</th>
                            <th scope="col" id="producttype">ประเภทสินค้า</th>
                            <!-- <th scope="col" id="supplyer">ผู้จัดส่ง</th> -->
                            <th scope="col" id="incomedate">วันที่แก้ไข</th>
                            <th scope="col" id="incometime">เวลาที่แก้ไข</th>
                            <th scope="col" id="amount">จำนวน</th>
                            <th scope="col" id="amount">ผู้ใช้งาน</th>
                            <th scope="col" id="unit">หมายเหตุ</th>
                        </tr>
                        <tr v-for="(item, index) in sortedData" :key="index" v-show="indexShow >= index + 1">
                            <th>{{ index + 1 + (indexShow * (pages - 1)) }}</th>
                            <td>{{ item.PRO_ID }}</td>
                            <td>{{ item.PRO_LOT }}</td>
                            <td>{{ item.PRO_NAME }}</td>
                            <td>{{ item.PRO_TYPE }}</td>
                            <!-- <td>{{ item.SUP_NAME }}</td> -->
                            <td>{{ item.PRO_DATE }}</td>
                            <td>{{ item.PRO_TIME }}</td>
                            <td>{{ item.PRO_AMOUNT }}</td>
                            <td>{{ item.USER_NAME }}</td>
                            <td>{{ item.PRO_ISSUE }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
            </div>

            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>
    </div>
</template>

<script>
import NavbarVue from '@/components/Navbar.vue';
import axios from 'axios';
export default {
    name: "HistoryVue",
    data() {
        return {
            historyInfo: '',
            indexShow: 5,
            pages: 1,
            searchValue:'',
            valueSearch:[]
        }
    },
    components: {
        NavbarVue
    },
    created() {
        this.AxiosgetAll()
    },
    methods: {
        async performSearch() {
            await this.AxiosgetAll()
            if (this.searchValue != '') {
                this.valueSearch = []
                for (let i in this.historyInfo) {
                    console.log("ลำดับที่" + i);
                    for (let j in this.historyInfo[i]) {
                        // console.log(this.getproduct[i][j]);
                        // console.log(this.historyInfo[i][j].toString().includes(this.searchValue) + "  " + this.historyInfo[i][j] + "  " + this.searchValue);
                        if (this.historyInfo[i][j].toString().includes(this.searchValue) == true) {
                            this.valueSearch.push(this.historyInfo[i])
                            break
                        }
                    }
                }
                console.log(this.valueSearch);
                this.historyInfo = this.valueSearch
            }
            else {
                this.AxiosgetAll()
            }
        },
        async AxiosgetAll() {
            await axios.get('http://localhost:8000/api_protal/history/getHistoryEdit').then((res) => {
                this.historyInfo = res.data
                for(let i in this.historyInfo){
                    if(this.historyInfo[i].MOV_ID == 3){
                        this.historyInfo[i].PRO_AMOUNT = "+"+ this.historyInfo[i].PRO_AMOUNT
                    }
                    else{
                        this.historyInfo[i].PRO_AMOUNT = "-"+ this.historyInfo[i].PRO_AMOUNT
                    }
                }
                
            })
        }
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.historyInfo);
            return dataArray.slice(modifiedIndex);
        }
    }
};
</script>
<style scoped src="../assets/style/History.css"></style>