<template>
  <!-- <hello-world /> -->
  <NavbarVue />


</template>

<script>
  // import HelloWorld from '../components/HelloWorld'
  import NavbarVue from '../components/Navbar'
  export default {
    name: 'HomePage',

    components: {
      NavbarVue,
    },
  }
</script>
