<template>
  <div>
    <div class="left-side">
      <h2 id="head">ระบบสต๊อก 3D Wallpaper</h2>

      <b-card class="UniqueFullWidth">
        <b-input-group>
          <span class="input-group-text"><font-awesome-icon icon="user" size="3x" />
          </span>
          <b-form-input v-model="username" class="username" type="text" placeholder="รหัสพนักงาน">
          </b-form-input>
        </b-input-group>
        <b-input-group>
          <span class="input-group-text"><font-awesome-icon icon="lock" size="3x" />
          </span>
          <b-form-input v-model="password" class="password" type="password" placeholder="รหัสผ่าน">
          </b-form-input>
        </b-input-group>
      </b-card>

      <br>
      <button type="button" @click="OnLogin()" id="btnlogin">เข้าสู่ระบบ</button>
    </div>
    <img id="right-side" src="../assets/image 1.png" alt="" />
  </div>
</template>
<script>
import axios from "axios";
import Swal from 'sweetalert2';
// const username = document.getElementById('username')
// const password = document.getElementById('password')
export default {
  name: "LoginVue",
  data() {
    return {
      userid: "",
      username: "",
      password: "",
      title: '',
      text: '',
      icon: 'error'
    };
  },
  methods: {
    OnLogin() {
      if ((this.username != "") & (this.password != "")) {
        return axios
          .get(
            "http://localhost:8000/api_protal/account/getusername/" +
            this.username +
            "/" +
            this.password
          )
          .then((res) => {
            res.data;
            console.log(res.data.length);
            if (res.data.length != 0) {
              this.userid = res.data[0].USER_ID;
              console.log(res.data);
              if (res.data[0].ACT_ID != 0) {
                localStorage.setItem("userid", this.userid);
                this.$router.push("/dashboard");
              }
              else {
                this.title = 'เข้าสู่ระบบไม่สำเร็จ',
                  this.text = 'รหัสพนักงานของคุณไม่มีสิทธิเข้าถึง',
                  this.showAlert()
              }
            } else {
              this.title = 'เข้าสู่ระบบไม่สำเร็จ',
                this.text = 'ไม่มีรหัสพนักงานอยู่ในระบบหรือรหัสผ่านไม่ถูกต้อง',
                this.showAlert()
            }
          });
      } else {
        this.title = 'เข้าสู่ระบบไม่สำเร็จ',
          this.text = 'โปรดใส่รหัสพนักงานและรหัสผ่าน',
          this.showAlert()
      }
    },
    showAlert() {
      Swal.fire({
        title: this.title,
        text: this.text,
        icon: this.icon,
      });
    }
  },
};
</script>

<style scoped src="../assets/style/Login.css"></style>