<template>
    <div>
        <NavbarVue hoverbutton3="background-color: #586153;"></NavbarVue>
        <form @submit.prevent="onClick()">
            <h1 id="header">รับสินค้าเข้า</h1>
            <hr>
            <h6 class="my-3 headinput" id="">1. ข้อมูลผู้จัดส่ง</h6>

            <!-- part1 -->
            <div class="row">
                <div class="col-3">
                    <h6 class="headinput">รหัสผู้จัดส่ง<span>*</span></h6>
                    <v-autocomplete dense outlined class="autocomplete" v-model="chosensup" :list="supplierSuggestionList"
                        :filter-by-query="true" @input="Axiossupplier()" :items="autocompletesupplier">
                    </v-autocomplete>
                </div>
                <div class="col-3">
                    <h6 class="headinput">ขื่อผู้ส่ง<span>*</span></h6>
                    <v-text-field dense outlined v-model="supplierName" v-bind:disabled="isInputSupplierDisabled"
                        type="text" style="width: 18rem;"></v-text-field>
                </div>
                <div class="col-3">
                    <h6 class="headinput">ที่อยู่ผู้จัดส่ง<span>*</span></h6>
                    <v-textarea dense outlined v-model="supplierAddress" v-bind:disabled="isInputSupplierDisabled" rows="4"
                        name="address" id="address" cols="23" style="width: 18rem;"></v-textarea>
                </div>
                <div class="col-3">
                    <h6 class="headinput">เบอร์โทรศัพท์<span>*</span></h6>
                    <v-text-field dense outlined v-model="supplierTell" v-bind:disabled="isInputSupplierDisabled"
                        type="text" style="width: 18rem;"></v-text-field>
                </div>
                <div class="col-3 supid">
                    <h6 class="headinput">อีเมล<span>*</span></h6>
                    <v-text-field dense outlined v-model="supplierEmail" v-bind:disabled="isInputSupplierDisabled"
                        type="email" style="width: 18rem;"></v-text-field>
                </div>
            </div>
            <br>
            <hr>

            <!-- part2 -->
            <div>
                <h6 class="my-3 headinput">2. ข้อมูลสินค้า</h6>
                <div class="row">
                    <div class="col-3">
                        <h6 class="headinput">หมายเลขล็อตสินค้า<span>*</span></h6>
                        <v-text-field dense outlined v-model="inputValue[5]" type="text"
                            style="width: 18rem;"></v-text-field>
                    </div>
                </div>
                <div class="row" id="seconddiv">
                    <div class="col-3">
                        <h6 class="headinput">หมายเลขสินค้า<span>*</span></h6>
                        <div>
                            <!-- <Autocomplete :options="[1, 2, 3, 4]"></Autocomplete> -->
                            <v-autocomplete dense outlined class="autocomplete" v-model="chosenpro" @input="Axiosproduct()"
                                :items="autocompleteproduct">
                            </v-autocomplete>
                        </div>
                    </div>
                    <div class="col-3">
                        <h6 class="headinput">ชื่อสินค้า<span>*</span></h6>
                        <v-text-field dense outlined v-model="name" v-bind:disabled="isInputProductDisabled" type="text"
                            class="" style="width: 18rem;"></v-text-field>
                    </div>
                    <div class="col-3">
                        <h6 class="headinput">ราคาซื้อ (บาท)<span>*</span></h6>
                        <v-text-field dense outlined v-model="inputValue[8]" class="input1" type="text"
                            style="width: 18rem;"></v-text-field>
                    </div>
                    <div class="col-3">
                        <h6 class="headinput">วันหมดอายุ<span>*</span></h6>
                        <v-text-field dense outlined v-model="inputValue[9]" type="date"
                            style="width: 18rem;"></v-text-field>
                    </div>
                </div>
                <div class="row" id="thirddiv">
                    <div class="col-3">
                        <h6 class="headinput">ประเภท<span>*</span></h6>
                        <v-text-field dense outlined v-model="protype" v-bind:disabled="isInputProductDisabled" type="text"
                            style="width: 18rem;"></v-text-field>
                    </div>
                    <div class="col-3">
                        <h6 class="headinput">จำนวน<span>*</span></h6>
                        <v-text-field dense outlined v-model="inputValue[11]" type="text" class="mt-2"
                            style="width: 18rem;"></v-text-field>
                    </div>
                    <div class="col-3" data-app>
                        <h6 class="headinput">หน่วย<span>*</span></h6>
                        <v-select v-model="inputValue[12]" class="selectunit" v-bind:disabled="isInputProductDisabled"
                            :label="unit" solo></v-select>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="float-end btbtn">
                <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                <button class="btn btn-success mt-4 mx-3 btnbottom" type="submit">ยืนยัน</button>
                <router-link to="/inventory"><button class="btn btn-danger mt-4 btnbottom"
                        type="submit">ยกเลิก</button></router-link>
            </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'

// import Autocomplete from 'vue2-autocomplete-js'
import NavbarVue from '@/components/Navbar.vue'
export default {
    name: 'ProuctcomeVue',
    data() {
        return {
            isInputProductDisabled: false,
            isInputSupplierDisabled: false,
            inputValue: ['', '', '', '', '', '', '', '', '', '', '', '', ''],
            autocompleteproduct: [],
            autocompletesupplier: [],
            chosensup: '',
            chosenpro: '',
            name: '',
            unit: '',
            protype: '',
            supplierName: '',
            supplierAddress: '',
            supplierTell: '',
            supplierEmail: '',
        }
    },
    components: {
        // Autocomplete,
        NavbarVue
    },
    created() {
        this.AxiosproductidAll()
        this.AxiosSupplierid()
    },
    updated() {
        this.inputValue[6] = this.chosenpro
        this.inputValue[4] = this.chosensup
        console.log(this.inputValue);
    },
    methods: {
        onClick() {
            if (this.inputValue.includes('') == false) {
                axios.post('http://localhost:8000/api_protal/product/addproduct', {
                    PRO_LOT: this.inputValue[5],
                    PRO_BUY_PRICE: this.inputValue[8],
                    PRO_REMAIN: this.inputValue[11],
                    PRO_EXP: this.inputValue[9],
                    PRO_AMOUNT: this.inputValue[11],
                    PRO_ID: this.inputValue[6],
                    USER_ID: window.localStorage.getItem("userid"),
                    SUP_ID: this.inputValue[4],
                    UNIT_ID: this.inputValue[12]
                })
                this.$router.push('/inventory')
            }
        },
        AxiosproductidAll() {
            axios.get('http://localhost:8000/api_protal/product/getproductidAll').then((res) => {
                for (let i in res.data) {
                    this.autocompleteproduct.push(res.data[i].PRO_ID)
                }
            })
        },
        Axiosproduct() {
            axios.get('http://localhost:8000/api_protal/product/getproduct/' + this.chosenpro).then((res) => {
                if (res.data.length != 0) {
                    this.name = res.data[0].PRO_NAME
                    this.unit = res.data[0].UNIT_NAME
                    this.protype = res.data[0].PRO_TYPE
                    this.inputValue[7] = this.name
                    this.inputValue[12] = res.data[0].UNIT_ID
                    this.inputValue[10] = this.protype
                    this.isInputProductDisabled = true
                    
                }
            })
        },
        AxiosSupplierid() {
            axios.get('http://localhost:8000/api_protal/supplier/getsupplierid').then((res) => {
                for (let i in res.data) {
                    if (res.data[i].ACT_ID != 0) {
                        this.autocompletesupplier.push(res.data[i].SUP_ID)
                    }
                }
            })
        },
        Axiossupplier() {
            axios.get('http://localhost:8000/api_protal/supplier/getsupplierinf/' + this.chosensup).then((res) => {
                console.log(res.data);
                if(res.data.length != 0){
                    this.supplierName = res.data[0].SUP_NAME
                    this.supplierAddress = res.data[0].SUP_ADDRESS
                    this.supplierTell = res.data[0].SUP_TELL
                    this.supplierEmail = res.data[0].SUP_EMAIL
                    this.inputValue[0] = this.supplierName
                    this.inputValue[1] = this.supplierAddress
                    this.inputValue[2] = this.supplierTell
                    this.inputValue[3] = this.supplierEmail
                    this.isInputSupplierDisabled = true
                }
            })
        },
    }
}
</script>

<style scoped src="../assets/style/Productcome.css"></style>