<template>
    <div>
        <NavbarVue></NavbarVue>
        <form action="">
            <router-link to="/sell">
                <b-icon class="mx-1 backicon" icon="arrow-left"></b-icon>
            </router-link>
            <label id="header">ข้อมูลการจำหน่าย</label>
            <hr>

            <!-- list -->
            <div class="row top">
                <div class="col">
                    <label class="invoicenumber">หมายเลขใบกำกับสินค้า: </label>
                    <label class="invoicenumber">{{ invoice }}</label>
                </div>
                <!-- <div class="col">
                    <router-link to="/addorder">
                        <b-button class="btn float-end mb-2" id="btncreate" type="button">
                            <b-icon icon="plus-square"></b-icon><span id="cnew">เพิ่มรายการสินค้า</span>
                        </b-button>
                    </router-link>
                </div> -->
            </div>

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input mx-2" id="checkbox" type="checkbox" style="border-color: black;"></th> -->
                            <th scope="col" id="list">ลำดับที่</th>
                            <th scope="col" id="invoiceid">หมายเลขสินค้า</th>
                            <th scope="col" id="invoiceid">หมายเลขล็อต</th>
                            <th scope="col" id="selldate">ชื่อรายการสินค้า</th>
                            <th scope="col" id="cost">ประเภทสินค้า</th>
                            <th scope="col" id="signature">คงเหลือ</th>
                            <th scope="col" id="function">ราคาขาย (บาท)</th>
                            <th scope="col" id="function">หน่วย</th>
                            <th scope="col" id="function">จำนวน</th>
                        </tr>
                        <tr>
                            <td class="testt">1</td>
                            <td class="testt">125486</td>
                            <td class="testt">684521</td>
                            <td class="testt2">Wallpaper A</td>
                            <td class="testt2">3D Wallpaper</td>
                            <td class="testt">99</td>
                            <td class="testt">35</td>
                            <td class="testt">ชิ้น</td>
                            <td class="testt">10</td>
                        </tr>
                        <tr>
                            <td class="testt">2</td>
                            <td class="testt">117549</td>
                            <td class="testt">945711</td>
                            <td class="testt2">Wallpaper B</td>
                            <td class="testt2">3D Wallpaper</td>
                            <td class="testt">50</td>
                            <td class="testt">25</td>
                            <td class="testt">ชิ้น</td>
                            <td class="testt">1</td>
                        </tr>
                        <tr>
                            <td class="testt">ทั้งหมด</td>
                            <td class="testt"></td>
                            <td class="testt"></td>
                            <td class="testt"></td>
                            <td class="testt"></td>
                            <td class="testt"></td>
                            <td class="testt">375</td>
                            <td class="testt"></td>
                            <td class="testt">11</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
            </div>

            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>
    </div>
</template>

<script>
import NavbarVue from '@/components/Navbar.vue'
export default {
    name: 'SellAdd',
    data() {
        return {
            indexShow: 5,
            pages: 1,

        }
    },
    props:["invoice"],
    components: {
        NavbarVue
    },
    created(){
        this.test()
    },
    methods: {
        test(){
            console.log(this.invoice);
        }
        
    },
}
</script>
  
<style scoped src="../assets/style/Sellmore.css"></style>