<template>
    <div>
        <NavbarVue hoverbutton5="background-color: #586153;"></NavbarVue>
        <form action="">
            <h1 id="header">เพิ่มข้อมูลการจำหน่าย</h1>
            <hr>

            <!-- list -->
            <div class="row top">
                <div class="col">
                    <label class="invoicenumber">หมายเลขใบกำกับสินค้า: </label>
                    <label class="invoiceinput"><v-text-field v-model="inputValue[0]" class="invoicebox" dense outlined
                            type="text" style="width: 10rem;"></v-text-field></label>
                    <!-- <label class="invoicenumber">125486</label> -->
                </div>
                <div class="col">
                    <b-button class="btn float-end mb-2 mx-3" id="btncreate" type="button" @click="addRow(-1)">
                        <b-icon icon="plus-square"></b-icon><span id="cnew">ลดรายการสินค้า</span>
                    </b-button>
                    <b-button class="btn float-end mb-2" id="btncreate" type="button" @click="addRow(+1)">
                        <b-icon icon="plus-square"></b-icon><span id="cnew">เพิ่มรายการสินค้า</span>
                    </b-button>
                </div>
            </div>

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input mx-2" id="checkbox" type="checkbox" style="border-color: black;"></th> -->
                            <th scope="col" id="list">ลำดับที่</th>
                            <th scope="col" id="invoiceid">หมายเลขสินค้า</th>
                            <th scope="col" id="invoiceid">หมายเลขล็อต</th>
                            <th scope="col" id="selldate">ชื่อรายการสินค้า</th>
                            <th scope="col" id="cost">ประเภทสินค้า</th>
                            <th scope="col" id="signature">คงเหลือ</th>
                            <th scope="col" id="function">ราคาขาย (บาท)</th>
                            <th scope="col" id="function">หน่วย</th>
                            <th scope="col" id="function">จำนวน</th>
                        </tr>
                        <!-- <tr v-for="(index) in addNewRow" :key="index" > -->
                        <tr v-for="(index) in addNewRow" :key="index" @change="AxiosgetIdLot(index)">
                            <td class="testt"> {{ index }} </td>
                            <td class="" data-app>
                                <v-autocomplete v-model="inputValue[index * 2 + (index - 2)]" :items="getAllId"
                                    class="productnumput mx-auto" dense outlined type="text" style="width: 7rem;"
                                    @input="AxiosgetIdLot(index)"></v-autocomplete>
                            </td>
                            <td class="" data-app>
                                <v-autocomplete v-model="inputValue[index * 2 + (index - 1)]" :items="getAllLot"
                                    class="productnumput mx-auto" dense outlined type="text" style="width: 7rem;"
                                    @input="AxiosgetIdLot(index)"></v-autocomplete>
                            </td>
                            <td class="testt">{{ showInfo[index * 4 + (index - 5)] }}</td>
                            <td class="testt">{{ showInfo[index * 4 + (index - 4)] }}</td>
                            <td class="testt"> {{ showInfo[index * 4 + (index - 3)] }}</td>
                            <td class="testt"> {{ showInfo[index * 4 + (index - 2)] }}</td>
                            <td class="testt"> {{ showInfo[index * 4 + (index - 1)] }}</td>
                            <td class="testt">
                                <v-text-field v-model="inputValue[index * 2 + (index)]" class="productnumput mx-auto" dense
                                    outlined type="number" style="width: 4rem;" min="1"
                                    :max="showInfo[index * 4 + (index - 3)]" @input="AxiosgetIdLot(index)"></v-text-field>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col" class="testt">ทั้งหมด</th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt">{{ sumPrice }}</th>
                            <th scope="col" class="testt"></th>
                            <th scope="col" class="testt">{{ sumCount }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
            </div>

            <!-- bottom button -->
            <div class="float-end mb-4">
                <!-- <router-link to="/sell"> -->
                <!-- <button class="btn btn-success mt-4 mx-3 btnbottom float-start" type="button">ตรวจสอบข้อมูล</button> -->
                <button class="btn btn-success mt-4 mx-3 btnbottom testt" type="button"
                    @click="pushInfo()">เพิ่มข้อมูลสินค้า</button>
                <!-- </router-link> -->
                <router-link to="/sell"><button class="btn btn-danger mt-4 btnbottom testt"
                        type="button">ยกเลิก</button></router-link>
            </div>
        </form>
    </div>
</template>

<script>
import NavbarVue from '@/components/Navbar.vue'
import axios from 'axios'
export default {
    name: 'SellAdd',
    data() {
        return {
            indexShow: 5,
            pages: 1,
            getinfo: [],
            showInfo: ["", "", "", "", ""],
            inputValue: ["", "", "", ""],
            addNewRow: 1,
            amount: [],
            price: [],
            sumPrice: 0,
            sumCount: 0,
            earlyCount: 1,
            invId: "",
            pushValue: {},
            newValue: [],
            unit: [],
            remain: '',
            getAllId: [],
            getAllLot: [],
        }
    },
    components: {
        NavbarVue
    },
    created() {
        this.AxiosgetIdLot()
        this.getLot()
        this.getId()
    },
    updated() {
        // this.AxiosgetIdLot()
    },
    methods: {
        addRow(i) {
            if (this.addNewRow + i < 1) {
                this.addNewRow
            }
            else if (i == -1) {
                this.addNewRow += i
                this.inputValue.pop()
                this.inputValue.pop()
                this.inputValue.pop()
                this.showInfo.pop()
                this.showInfo.pop()
                this.showInfo.pop()
                this.showInfo.pop()
                this.showInfo.pop()
                this.amount.pop()
                this.price.pop()
                this.summaryPrice()
                this.summaryAmount()
            }
            else {
                this.addNewRow += i
                this.inputValue.push("", "", "")
                this.showInfo.push("", "", "", "", "")
                this.amount.push("")
                this.price.push("")
                this.summaryPrice()
                this.summaryAmount()
            }
        },
        async AxiosgetIdLot(id) {
            await axios.get('http://localhost:8000/api_protal/product/selectremian/' + this.inputValue[id * 2 + (id - 2)] + '/' + this.inputValue[id * 2 + (id - 1)]).then((res) => {
                if (res.data != 0) {
                    this.remain = res.data
                    this.showInfo[id * 4 + (id - 3)] = parseInt(this.remain)
                }
                else {
                    this.showInfo[id * 4 + (id - 3)] = ""
                }
            })
            if (this.inputValue[id * 2 + (id - 2)] && this.inputValue[id * 2 + (id - 1)] != "") {
                axios.get('http://localhost:8000/api_protal/sell/getIdLot/' + this.inputValue[id * 2 + (id - 2)] + "/" + this.inputValue[id * 2 + (id - 1)]).then((res) => {
                    if (res.data.length != 0) {
                        this.showInfo[id * 4 + (id - 5)] = res.data.PRO_NAME
                        this.showInfo[id * 4 + (id - 4)] = res.data.PRO_TYPE
                        this.showInfo[id * 4 + (id - 2)] = res.data.PRO_SALE_PRICE
                        this.showInfo[id * 4 + (id - 1)] = res.data.UNIT_NAME
                        this.unit[id * 4 + (id - 5)] = res.data.UNIT_ID
                        this.price[id] = res.data.PRO_SALE_PRICE
                        this.amount[id] = this.inputValue[id * 2 + (id)]
                        this.summaryAmount()
                        this.summaryPrice()
                    }
                    else {
                        this.showInfo[id * 4 + (id - 5)] = ""
                        this.showInfo[id * 4 + (id - 4)] = ""
                        this.showInfo[id * 4 + (id - 3)] = ""
                        this.showInfo[id * 4 + (id - 2)] = ""
                        this.showInfo[id * 4 + (id - 1)] = ""
                        this.unit[id * 4 + (id - 5)] = ""
                        this.price[id] = ""
                        this.amount[id] = ""
                        this.summaryAmount()
                        this.summaryPrice()
                    }
                })
            }
        },
        async pushInfo() {
            this.newValue = []
            if (this.inputValue.includes("") == false && this.showInfo.includes("" || undefined) == false) {
                for (let i = 1; i <= this.addNewRow; i++) {
                    // console.log("i = "+i);
                    this.pushValue = {}
                    this.pushValue["invo"] = this.inputValue[0],
                        this.pushValue["id"] = this.inputValue[i * 2 + (i - 2)],
                        this.pushValue["lot"] = this.inputValue[i * 2 + (i - 1)],
                        this.pushValue["saleprice"] = this.showInfo[i * 4 + (i - 2)],
                        this.pushValue["unit"] = this.unit[i * 4 + (i - 5)]
                    this.pushValue["amount"] = this.inputValue[i * 2 + (i)],
                        this.pushValue["userid"] = window.localStorage.getItem("userid")
                    await axios.get('http://localhost:8000/api_protal/product/selectSupFromlot/' + this.inputValue[i * 2 + (i - 2)] + '/' + this.inputValue[i * 2 + (i - 1)]).then((res) => {
                        this.pushValue["supid"] = res.data[0].SUP_ID.toString()
                    })
                    this.newValue.push(this.pushValue)
                    console.log(this.pushValue);
                }
                this.AxiosPost()
            }
            // console.log(this.newValue);
            // console.log(this.pushValue);
            // console.log(this.showInfo);
        },
        AxiosPost() {
            for (let i in this.newValue) {
                // console.log("i ="+ i);
                console.log(this.newValue);
                axios.post('http://localhost:8000/api_protal/sell/addInvoice', this.newValue[i])
            }
            this.$router.push('/sell')
        },
        summaryPrice() {
            this.sumPrice = 0
            for (let i in this.price) {
                if (this.price[i] == "") {
                    this.price[i] = 0
                }
                this.sumPrice += this.price[i]
                // this.sumPrice += this.price[i] * this.amount[i]
            }
            // this.pushValue[id-1].totalprice = this.sumPrice
        },
        summaryAmount() {
            this.sumCount = 0
            for (let i in this.amount) {
                if (this.amount[i] == "") {
                    this.amount[i] = 0
                }
                this.sumCount += parseInt(this.amount[i])
            }
            // this.pushValue[id-1].totalamount = this.sumCount

        },
        getId() {
            axios.get('http://localhost:8000/api_protal/sell/getAllId').then((res) => {
                for (let i in res.data) {
                    this.getAllId.push(res.data[i].PRO_ID)
                }
            })
        },
        getLot() {
            axios.get('http://localhost:8000/api_protal/sell/getAllLot').then((res) => {
                for (let i in res.data) {
                    this.getAllLot.push(res.data[i].PRO_LOT)
                }
            })
        }
    },
}
</script>
  
<style scoped src="../assets/style/Selladd.css"></style>