<template>
    <div>
        <NavbarVue hoverbutton5="background-color: #586153;"></NavbarVue>
        <form action="">
            <h1 id="header">จำหน่ายสินค้า</h1>
            <hr>

            <!-- list -->
            <v-text-field dense outlined v-model="searchValue" class="sicon" name="" id="searchbar" type="search"
                :append-icon="'mdi-magnify'" @keydown.enter="performSearch"></v-text-field>
            <div class="row top">
                <div class="col">
                    <label id="show">แสดง</label>
                    <input v-model="indexShow" class="mx-2" type="number" name="" id="Rownumber" width="10px" min="5"
                        step="5">
                    <label id="roww">แถว</label>
                </div>
                <div class="col">
                    <router-link to="/selladd">
                        <b-button class="btn float-end mb-2" id="btncreate" type="button">
                            <b-icon icon="plus-square"></b-icon><span id="cnew">เพิ่มข้อมูลการจำหน่าย</span>
                        </b-button>
                    </router-link>
                </div>
            </div>

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input mx-2" id="checkbox" type="checkbox" style="border-color: black;"></th> -->
                            <th scope="col" id="list">ลำดับที่</th>
                            <th scope="col" id="invoiceid">หมายเลขใบกำกับสินค้า</th>
                            <th scope="col" id="selldate">วันที่จำหน่ายสินค้า</th>
                            <th scope="col" id="cost">เวลา</th>
                            <th scope="col" id="cost">จำนวนเงินรวม</th>
                            <th scope="col" id="cost">จำนวนสินค้ารวม</th>
                            <th scope="col" id="signature">ผู้รับผิดชอบ</th>
                            <!-- <th scope="col" id="function">รายละเอียดเพิ่มเติม</th> -->
                        </tr>
                        <tr v-for="(item, index) in sortedData" :key="index">
                            <th class="testt">{{ index + 1 }}</th>
                            <td class="testt">{{ item.PRO_INV }}</td>
                            <td class="testt">{{ item.PRO_DATE }}</td>
                            <td class="testt">{{ item.PRO_TIME }}</td>
                            <td class="testt">{{ item.TOTAL_PRICE }}</td>
                            <td class="testt">{{ item.PRO_AMOUNT }}</td>
                            <td class="testt">{{ item.USER_NAME }}</td>
                            <td class="testt">
                                <!-- <div class="functionicon">
                                    <router-link to="/sellmore">
                                        <b-icon class="mx-1 fileicon" icon="file-text-fill"
                                            @click="More(item.PRO_INV)"></b-icon>
                                    </router-link>
                                </div> -->
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
            </div>
            <SellMore v-show="false" invoice="i"></SellMore>
            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>
    </div>
</template>

<script>
import NavbarVue from '@/components/Navbar.vue'
import SellMore from './SellMore.vue'
import axios from 'axios'
export default {
    name: 'SellVue',
    data() {
        return {
            indexShow: 5,
            pages: 1,
            getinfo: '',
            invo: '',
            valueSearch:[],
            searchValue:""

        }
    },
    components: {
        NavbarVue,
        SellMore
    },
    created() {
        this.AxiosgetAll()
    },
    methods: {
        async performSearch() {
            await this.AxiosgetAll()
            if (this.searchValue != '') {
                this.valueSearch = []
                for (let i in this.getinfo) {
                    console.log("ลำดับที่" + i);
                    for (let j in this.getinfo[i]) {
                        // console.log(this.getproduct[i][j]);
                        // console.log(this.getproduct[i][j].toString().includes(this.searchValue) + "  " + this.getproduct[i][j] + "  " + this.searchValue);
                        if (this.getinfo[i][j].toString().includes(this.searchValue) == true) {
                            this.valueSearch.push(this.getinfo[i])
                            break
                        }
                    }
                }
                console.log(this.valueSearch);
                this.getinfo = this.valueSearch
            }
            else {
                this.AxiosgetAll()
            }
        },
        async AxiosgetAll() {
            await axios.get('http://localhost:8000/api_protal/sell/getAll').then((res) => {
                this.getinfo = res.data
                console.log(this.getinfo);
            })
        },
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.getinfo);
            return dataArray.slice(modifiedIndex);
        }
    }
}
</script>
  
<style scoped src="../assets/style/Sell.css"></style>