<template>
    <div>
        <NavbarVue hoverbutton6="background-color: #586153;"></NavbarVue>
        <form action="">
            <h1 id="header">ผู้จัดส่งสินค้า</h1>
            <hr>

            <!-- searchbar -->
            <div class="row top">
                <div class="col-2">
                    <v-text-field dense outlined v-model="searchValue" class="sicon" name="" id="searchbar" type="search"
                     @keydown.enter="performSearch"></v-text-field>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark float-end" data-bs-toggle="modal" data-bs-target="#modalId1"
                        id="btncreate" type="button" @click="Reset()"><b-icon icon="file-earmark-plus"
                            id="excelicon"></b-icon>สร้างผู้จัดส่ง</button>
                </div>
            </div>
            <!-- <input class="sicon" name="sicon" id="searchbar" type="search" placeholder="ค้นหา..." /> -->

            <!-- list -->
            <v-row>
                <v-col class="showrow">
                    <label id="show">แสดง</label>
                    <input dense outlined v-model="indexShow" type="number" name="" id="Rownumber" min="5" max="100"
                        step="5" />
                    <!-- <v-text-field placeholder="Placeholder"></v-text-field> -->
                    <label id="roww">แถว</label>
                </v-col>
            </v-row>

            <!-- table -->
            <div class="table tablee">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input mx-2" id="checkbox" type="checkbox" style="border-color: black;"></th> -->
                            <th scope="col" id="list">ลำดับที่</th>
                            <th scope="col" id="supplierid">รหัสผู้จัดส่ง</th>
                            <th scope="col" id="suppliername">ชื่อผู้จัดส่ง</th>
                            <th scope="col" id="phonenumber">เบอร์ติดต่อ</th>
                            <th scope="col" id="email">อีเมลติดต่อ</th>
                            <th scope="col" id="address">ที่อยู่</th>
                            <th scope="col" id="function">ฟังก์ชั่น</th>
                        </tr>
                        <tr v-for="(item, index) in sortedData" :key="index" v-show="indexShow >= index + 1">
                            <th>{{ index + 1 + (indexShow * (pages - 1)) }}</th>
                            <td>{{ item.SUP_ID }}</td>
                            <td>{{ item.SUP_NAME }}</td>
                            <td>{{ item.SUP_TELL }}</td>
                            <td>{{ item.SUP_EMAIL }}</td>
                            <td>{{ item.SUP_ADDRESS }}</td>
                            <td class="space float-start">
                                <div class="form-check form-switch float-start">
                                    <b-icon class="mx-1" icon="pencil-square " data-bs-toggle="modal"
                                        data-bs-target="#modalId2" @click="Edit(index)"></b-icon>
                                    <input v-model="activestatus[index]" class="form-check-input float-end m-1"
                                        type="checkbox" role="switch" id="flexSwitchCheckDefault" @click="Click(index)">
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  -->
                    </tbody>
                </table>
            </div>

            <!-- modal1 Create New Supplier-->
            <form @submit.prevent="onCreate()">
                <div class="modal fade" id="modalId1" tabindex="-1" aria-labelledby="modalTitleId">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modalTitleId">สร้างผู้จัดส่งสินค้าใหม่</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form class="modalbody">
                                    <div class="row">
                                        <div class="col-6 pb-3">
                                            <h6 id="supplierid1">รหัสผู้จัดส่ง<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[0]" type="text"
                                                style="width: 15rem;"></v-text-field>
                                            <b class="text-danger textalert">{{ Errshow1 }}</b>
                                        </div>

                                        <div class="col-6">
                                            <h6 id="suppliername1">ชื่อผู้จัดส่ง<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[1]" type="text"
                                                style="width: 15rem;"></v-text-field>
                                            <b class="text-danger textalert">{{ Errshow2 }}</b>
                                        </div>
                                        <div class="col-6">
                                            <h6 id="email1">อีเมลติดต่อ<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[2]" type="text"
                                                style="width: 15rem;"></v-text-field>
                                            <b class="text-danger textalert">{{ Errshow3 }}</b>
                                        </div>
                                        <div class="col-6">
                                            <h6 id="address1">ที่อยู่<span>*</span></h6>
                                            <v-textarea dense outlined v-model="inputValue[3]" name="address"
                                                class="textarea" cols="23" rows="5"></v-textarea>
                                            <b class="text-danger textalert">{{ Errshow4 }}</b>
                                        </div>
                                        <div class="col-6 ph1">
                                            <h6 id="phonenumber1">เบอร์ติดต่อ<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[4]" type="text"
                                                style="width: 15rem;"></v-text-field>
                                            <b class="text-danger textalert">{{ Errshow5 }}</b>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- modal fotter -->
                            <div class="modal-footer">
                                <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                                <button class="btn btn-success mt-4 mx-3 float-end" type="submit"
                                    :data-bs-dismiss="modalcheck == true ? 'modal' : ''"
                                    style="width: 7rem;">ยืนยัน</button>
                                <button class="btn btn-danger mt-4" type="button" data-bs-dismiss="modal"
                                    style="width: 7rem;">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Edit Supplier-->
            <form @submit.prevent="onEdit()">
                <div class="modal fade" id="modalId2" tabindex="-1" aria-labelledby="modalTitleId">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modalTitleId">อัพเดทข้อมูลผู้จัดส่ง</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form class="modalbody">
                                    <div class="row">
                                        <div class="col-6 pb-3">
                                            <h6 id="supplierid1">รหัสผู้จัดส่ง</h6>
                                            <v-text-field dense outlined v-model="inputValue[0]" type="text"
                                                style="width: 15rem;" v-bind:disabled="true"></v-text-field>

                                        </div>

                                        <div class="col-6">
                                            <h6 id="suppliername1">ชื่อผู้จัดส่ง<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[1]" type="text"
                                                style="width: 15rem;"></v-text-field>

                                        </div>
                                        <div class="col-6">
                                            <h6 id="email1">อีเมลติดต่อ<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[2]" type="text"
                                                style="width: 15rem;"></v-text-field>

                                        </div>
                                        <div class="col-6">
                                            <h6 id="address1">ที่อยู่<span>*</span></h6>
                                            <v-textarea dense outlined v-model="inputValue[3]" name="address"
                                                class="textarea" cols="23" rows="5"></v-textarea>
                                        </div>
                                        <div class="col-6 ph2">
                                            <h6 id="phonenumber1">เบอร์ติดต่อ<span>*</span></h6>
                                            <v-text-field dense outlined v-model="inputValue[4]" type="text"
                                                style="width: 15rem;"></v-text-field>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- modal fotter -->
                            <div class="modal-footer">
                                <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                                <button class="btn btn-success mt-4 mx-3 float-end" type="submit" data-bs-dismiss='modal'
                                    style="width: 7rem;">ยืนยัน</button>
                                <button class="btn btn-danger mt-4" type="button" data-bs-dismiss="modal"
                                    style="width: 7rem;">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>
    </div>
</template>

<script>
import NavbarVue from '@/components/Navbar.vue';
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
    name: "SupplierVue",
    data() {
        return {
            searchValue: '',
            getsupplierinfo: '',
            pages: 1,
            indexShow: 5,
            activestatus: [],
            Errshow1: '',
            Errshow2: '',
            Errshow3: '',
            Errshow4: '',
            Errshow5: '',
            modalcheck: false,
            inputValue: ['', '', '', '', ''],
            ErrText: ['', '', '', '', ''],
            Text: ['กรอกหมายเลขผู้จัดส่ง', 'กรอกชื่อผู้จัดส่ง', 'กรอกอีเมลผู้จัดส่ง', 'กรอกที่อยู่ผู้จัดส่ง', 'กรอกเบอร์โทรผู้จัดส่ง'],
            valueSearch:[]


        }
    },
    components: {
        NavbarVue

    },
    created() {
        this.AxiosgetAll()
    },
    updated() {
        this.AxiosgetSupid()
        if (this.ErrText.every(item => item == '') == true & this.inputValue.includes('') == false) {
            this.modalcheck = true
        }
        else {
            this.modalcheck = false
        }
        console.log(this.inputValue[3])
    },
    methods: {
        async performSearch() {
            await this.AxiosgetAll()
            if (this.searchValue != '') {
                this.valueSearch = []
                for (let i in this.getsupplierinfo) {
                    console.log("ลำดับที่" + i);
                    for (let j in this.getsupplierinfo[i]) {
                        // console.log(this.getproduct[i][j]);
                        // console.log(this.getproduct[i][j].toString().includes(this.searchValue) + "  " + this.getproduct[i][j] + "  " + this.searchValue);
                        if (this.getsupplierinfo[i][j].toString().includes(this.searchValue) == true) {
                            this.valueSearch.push(this.getsupplierinfo[i])
                            break
                        }
                    }
                }
                console.log(this.valueSearch);
                this.getsupplierinfo = this.valueSearch
            }
            else {
                this.AxiosgetAll()
            }
        },
        Reset() {
            this.num = 2
            this.showErr()
        },
        onCreate() {
            this.num = 1
            this.showErr()
            console.log('ONCLICK', this.ErrText);
            if (this.modalcheck == true) {
                this.AxiosPostSupplier()
                this.title = "สร้างสินค้าใหม่สำเร็จ"
                this.text = "สินค้าถูกสร้างเรียบร้อย"
                this.icon = "success"
                this.showAlert()
                this.AxiosgetAll()
            }
            else {
                this.num = 2
            }
        },
        Click(id) {
            if (this.activestatus[id] == true) {
                axios.put('http://localhost:8000/api_protal/supplier/deactivestatus/' + this.getsupplierinfo[id].SUP_ID)
                // console.log('ActivateUpdate success');
                // console.log(this.activestatus == true);
            }
            else {
                axios.put('http://localhost:8000/api_protal/supplier/activestatus/' + this.getsupplierinfo[id].SUP_ID)
                // console.log('Deactivate Update success');
                // console.log(this.activestatus == true);
            }
        },
        async AxiosgetAll() {
            await axios.get('http://localhost:8000/api_protal/supplier/getsupplier').then((res) => {
                this.getsupplierinfo = res.data
                for (let i in res.data) {
                    if (res.data[i].ACT_ID == 1) {
                        this.activestatus[i] = true
                        // console.log(this.activestatus);
                    }
                    else {
                        this.activestatus[i] = false
                    }
                    // console.log(res.data[i].ACT_ID)
                }
            })
        },
        AxiosgetSupid() {
            if (this.inputValue[0] != '') {
                axios.get('http://localhost:8000/api_protal/supplier/getsupplierinf/' + this.inputValue[0]).then((res) => {
                    if (res.data.length == 1) {
                        this.Errshow1 = 'หมายเลขผู้จัดส่งนี้ถูกสร้างแล้ว'
                        this.ErrText[0] = 'หมายเลขผู้จัดส่งนี้นี้ถูกสร้างแล้ว'
                    }
                    else if (res.data.length == 0) {
                        console.log(this.inputValue[2].includes('@'));
                        if (this.inputValue[2].includes('@') == false & this.inputValue[2] != '') {
                            this.ErrText[2] = 'อีเมลผู้ส่งไม่ถูกต้อง'
                            this.Errshow3 = this.ErrText[2]
                        }
                        else {
                            this.ErrText[0] = ''
                            this.ErrText[1] = ''
                            this.ErrText[3] = ''
                            this.ErrText[4] = ''
                            this.Errshow1 = ''
                            if (this.ErrText[2] != '' & this.inputValue[2] == '') {
                                this.Errshow3 = this.ErrText[2]
                            }
                            else {
                                this.ErrText[2] = ''
                                this.Errshow3 = this.ErrText[2]
                            }
                        }
                    }
                })
            }
        },
        AxiosPostSupplier() {
            axios.post('http://localhost:8000/api_protal/supplier/createsupplier', {
                id: parseInt(this.inputValue[0]),
                name: this.inputValue[1],
                email: this.inputValue[3],
                address: this.inputValue[4],
                tell: this.inputValue[2]
            })
        },
        showErr() {
            for (let i in this.inputValue) {
                this.ErrText[i] = ''
                if (this.inputValue[i] == '' & this.num == 1) {
                    this.ErrText[i] = 'โปรด' + this.Text[i]
                }
                else if (this.num == 2) {
                    this.ErrText[i] = ''
                    this.inputValue = ['', '', '', '', '']
                }
                else {
                    this.ErrText[i] = ''
                }
            }
            this.Errshow1 = this.ErrText[0]
            this.Errshow2 = this.ErrText[1]
            this.Errshow3 = this.ErrText[2]
            this.Errshow4 = this.ErrText[3]
            this.Errshow5 = this.ErrText[4]
        },
        showAlert() {
            Swal.fire({
                title: this.title,
                text: this.text,
                icon: this.icon,
            });
        },
        Edit(index) {
            this.num = 2
            this.showErr()
            this.getsupplierinfo[index]
            this.inputValue[0] = this.getsupplierinfo[index].SUP_ID
            this.inputValue[1] = this.getsupplierinfo[index].SUP_NAME
            this.inputValue[2] = this.getsupplierinfo[index].SUP_EMAIL
            this.inputValue[3] = this.getsupplierinfo[index].SUP_ADDRESS
            this.inputValue[4] = this.getsupplierinfo[index].SUP_TELL
        },
        onEdit() {
            this.AxiosgetAll()
            axios.put('http://localhost:8000/api_protal/supplier/updatesup', {
                id: this.inputValue[0],
                name: this.inputValue[1],
                email: this.inputValue[2],
                address: this.inputValue[3],
                tell: this.inputValue[4],
            })
            this.AxiosgetAll()
        }
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.getsupplierinfo);
            return dataArray.slice(modifiedIndex);
        }
    }
};
</script>

<style scoped src="../assets/style/Supplier.css"></style>