<template>
    <div>
        <NavbarVue hoverbutton7 ="background-color: #586153;"></NavbarVue>
        <form action="">
            <h1 id="header">จัดการบัญชีผู้ใช้</h1>
            <hr>
            <router-link to="/create_user">
                <b-button class="btn float-end mb-2" id="btncreate" type="button">
                    <b-icon icon="plus-square"></b-icon><span id="cnew">สร้างผู้ใช้งานใหม่</span>
                </b-button>
            </router-link>

            <!-- Search Bar -->
            <v-col class="searchmargin" cols="3" sm="2">
                <v-text-field dense outlined v-model="searchValue" :append-icon="'mdi-magnify'"
                name="" id="searchbar" type="search" @keydown.enter="performSearch"></v-text-field>
            </v-col>
            <div class="showrow">
                <label for="" id="show">แสดง</label>
                <input v-model="indexShow" class="mx-2" type="number" name="" id="Rownumber" width="10px" min="5" max="100"
                    step="5">
                <label for="" id="roww">แถว</label>
            </div>

            <!-- Table -->
            <div class="table tablee">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th class="detail">ลำดับที่</th>
                            <th class="detail">รหัสพนักงาน</th>
                            <th class="detail">ชื่อผู้ใช้</th>
                            <th class="detail">เบอร์โทรศัพท์</th>
                            <th class="detail">อีเมลติดต่อ</th>
                            <th class="detail">ที่อยู่</th>
                            <th class="detail">ตำแหน่ง</th>
                            <th class="function0" id="function0">ฟังก์ชั่น</th>
                            <th></th>
                        </tr>
                        <tr v-for="(item, index) in sortedData" :key="index" v-show="indexShow >= index + 1">
                            <th id="list">{{ index + 1 }}</th>
                            <td>{{ item.USER_ID }}</td>
                            <td>{{ item.USER_NAME }}</td>
                            <td>{{ item.USER_PHONE_NUM }}</td>
                            <td>{{ item.USER_EMAIL }}</td>
                            <td>{{ item.USER_ADDRESS }}</td>
                            <td>{{ item.USER_ROLE }}</td>
                            <td class="space float-start">
                                <div class="form-check form-switch float-start">
                                    <b-icon class="mx-1" icon="pencil-square" data-bs-toggle="modal"
                                        data-bs-target="#modalId1" @click="Edit(index)"></b-icon>
                                    <input v-model="activestatus[index]" class="form-check-input float-end mx-1"
                                        type="checkbox" role="switch" id="flexSwitchCheckDefault" @click="Click(index)">
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>


            <!-- bottom button -->
            <div class="d-grid d-md-flex float-end">
                <button type="button" class="btn btn-sm" id="back" @click="pages == 1 ? pages : pages--">ย้อนกลับ</button>
                <button type="button" class="btn btn-sm" id="nump">{{ pages }}</button>
                <button type="button" class="btn btn-sm" id="next" @click="pages++">ถัดไป</button>
            </div>
        </form>

        <!-- modal1 -->
        <form @submit.prevent="onEdit()" action="">
            <div class="modal fade" id="modalId1" tabindex="-1" aria-labelledby="modalTitleId">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modalTitleId">แก้ไขข้อมูลบัญชี</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <form class="modalbody">
                                <div class="row">
                                    <div class="col-6 pb-3">
                                        <h6 id="inputfont">รหัสพนักงาน</h6>
                                        <v-text-field dense outlined v-model="inputValue1" type="text" style="width: 15rem;"
                                            v-bind:disabled="true"></v-text-field>
                                    </div>
                                    <div class="col-6">
                                        <h6 id="inputfont">ชื่อ</h6>
                                        <v-text-field v-model="inputValue2" dense outlined type="text" class="inputlebel"
                                            style="width: 15rem;"></v-text-field>
                                    </div>
                                    <!-- <div class="col-6">
                                        <h6 id="inputfont">นามสกุล<span> *</span></h6>
                                        <v-text-field v-model="inputValue[2]" dense outlined type="text" id="inputlebel" style="width: 15rem;"></v-text-field>
                                    </div> -->
                                    <div class="col-6">
                                        <h6 id="inputfont">เบอร์โทรติดต่อ</h6>
                                        <v-text-field v-model="inputValue3" dense outlined type="text" class="inputlebel"
                                            style="width: 15rem;"></v-text-field>
                                    </div>
                                    <div class="col-6">
                                        <h6 id="inputfont">ที่อยู่</h6>
                                        <v-textarea v-model="inputValue4" dense outlined name="address" id="address"
                                            cols="23" rows="3" style="width: 15rem;"></v-textarea>
                                    </div>
                                    <div class="col-6">
                                        <h6 id="inputfont">อีเมลติดต่อ</h6>
                                        <v-text-field dense outlined v-model="inputValue5" type="text" class="inputlebel"
                                            style="width: 15rem;"></v-text-field>
                                    </div>
                                    <!-- <div class="col-6">
                                        
                                    </div> -->
                                    <div class="col-6 mt-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- <h6 id="inputfont">เลือกตำแหน่ง</h6> -->
                                                <input v-model="inputValue6" type="radio" name="role" id="1" value="แอดมิน">
                                                <label class="mx-1 role1">แอดมิน</label>
                                                <input v-model="inputValue6" type="radio" name="role" id="user1"
                                                    value="ผู้ใช้งาน">
                                                <label class="mx-1 role1">ผู้ใช้งาน</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h6 id="inputfont">รหัสผ่าน</h6>
                                        <v-text-field v-model="inputValue8" dense outlined type="password" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                            class="inputlebel" style="width: 15rem;" counter @click:append="show1 = !show1" >
                                        </v-text-field>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- modal fotter -->
                        <div class="modal-footer">
                            <!-- <button class="btn btn-success mt-4 mx-3" type="submit" @click="onclick">สร้างบัญชี</button> -->
                            <button class="btn btn-success mt-4 mx-3 float-end" type="submit" data-bs-dismiss="modal"
                                style="width: 7rem;">ยืนยัน</button>
                            <button class="btn btn-danger mt-4 cancel" type="button" data-bs-dismiss="modal"
                                style="width: 7rem;">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
import NavbarVue from '@/components/Navbar.vue'
export default {
    name: 'UserVue',
    data() {
        return {
            userinfo: '',
            activestatus: [],
            selectrole: '',
            inputValue1: '',
            inputValue2: '',
            inputValue3: '',
            inputValue4: '',
            inputValue5: '',
            inputValue6: '',
            inputValue7: '',
            inputValue8: '',
            searchValue: '',
            pages: 1,
            indexShow: 5,
            show1: false,
            valueSearch:[]
        }
    },
    components: {
        NavbarVue
    },
    created() {
        this.AxiosgetUser()
    },
    updated() {
        // this.AxiosgetUser()
    },
    methods: {
        async performSearch() {
            await this.AxiosgetUser()
            if (this.searchValue != '') {
                this.valueSearch = []
                for (let i in this.userinfo) {
                    console.log("ลำดับที่" + i);
                    for (let j in this.userinfo[i]) {
                        // console.log(this.getproduct[i][j]);
                        // console.log(this.getproduct[i][j].toString().includes(this.searchValue) + "  " + this.getproduct[i][j] + "  " + this.searchValue);
                        if (this.userinfo[i][j].toString().includes(this.searchValue) == true) {
                            this.valueSearch.push(this.userinfo[i])
                            break
                        }
                    }
                }
                console.log(this.valueSearch);
                this.userinfo = this.valueSearch
            }
            else {
                this.AxiosgetUser()
            }
        },
        Click(id) {
            if (this.activestatus[id] == true) {
                axios.put('http://localhost:8000/api_protal/account/deactivestatus/' + this.userinfo[id].USER_ID)
                console.log('ActivateUpdate success');
                console.log(this.activestatus == true);
            }
            else {
                axios.put('http://localhost:8000/api_protal/account/activestatus/' + this.userinfo[id].USER_ID)
                console.log('Deactivate Update success');
                console.log(this.activestatus == true);
            }
        },
        async AxiosgetUser() {
            await axios.get('http://localhost:8000/api_protal/account/getuser')
                .then((res) => {
                    // console.log(res.data);
                    this.userinfo = res.data
                    for (let i in res.data) {
                        if (res.data[i].ACT_ID == 1) {
                            this.activestatus[i] = true
                            // console.log(this.activestatus);
                        }
                        else {
                            this.activestatus[i] = false
                        }
                        // console.log(res.data[i].ACT_ID)
                    }
                }).catch((err) => {
                    console.log(err)
                })
        },
        Edit(index) {
            this.userinfo[index]
            this.inputValue1 = this.userinfo[index].USER_ID
            this.inputValue2 = this.userinfo[index].USER_NAME
            this.inputValue3 = this.userinfo[index].USER_PHONE_NUM
            this.inputValue4 = this.userinfo[index].USER_ADDRESS
            this.inputValue5 = this.userinfo[index].USER_EMAIL
            this.inputValue6 = this.userinfo[index].USER_ROLE
            this.inputValue8 = this.userinfo[index].USER_PASSWORD
            console.log(this.inputValue);
        },
        onEdit() {
            this.AxiosgetUser()
            axios.put('http://localhost:8000/api_protal/account/updateuser', {
                name: this.inputValue2,
                password: this.inputValue8,
                phonenum: this.inputValue3,
                email: this.inputValue5,
                address: this.inputValue4,
                role: this.inputValue6,
                id: this.inputValue1
            }).then(this.AxiosgetUser())
            
        }
    },
    computed: {
        sortedData() {
            // Calculate the modified index based on your criteria
            const modifiedIndex = this.indexShow * (this.pages - 1);

            // Convert this.getproduct to an array, sort it, and slice it
            const dataArray = Array.from(this.userinfo);
            return dataArray.slice(modifiedIndex).sort(dataArray.USER_ID);
        }
    }
}
</script>
<style scoped src="../assets/style/Allpage.css"></style>