<template>
  <div class="navbar navbar-dark">
    <div class=" p-2 navshow">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" @click="nav = !nav"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" float-start showallnav mx-2" v-if="nav == true" data-bs-theme="dark">
        <ul>
          <router-link to="/dashboard">
            <li class="Listmenu" id="fistList" :style="hoverbutton1">
              <img src="../assets/homepage.png" alt="" class="navbaricon"><br>
              <h6 class="text-body-emphasis h6" id="menu">คงคลังสินค้า</h6>
            </li>
          </router-link>
          <li class="Listmenu" @click="tapShow = !tapShow" :style="hoverbutton2">
            <img src="../assets/compass.png" alt="" class="navbaricon"><br>
            <h6 class="text-body-emphasis h6" id="menu">ประวัติ</h6>
          </li>
          <v-card v-show="tapShow" class="his_popup mt-5 bg-light" style="background-color: white">
            <router-link to="/history" style="text-decoration: none;">
              <h6 class="px-3 pt-3 text-dark">ประวัติการนำเข้า</h6>
            </router-link>
            <hr class="mx-3">
            <router-link to="/historyexport" style="text-decoration: none;">
              <h6 class="px-3 pb-2 text-dark">ประวัติการส่งออก</h6>
            </router-link>
            <hr class="mx-3">
            <router-link to="/historyedit" style="text-decoration: none;">
              <h6 class="px-3 pb-2 text-dark ">ประวัติการเพิ่ม-ลด</h6>
            </router-link>
          </v-card>
          <router-link to="/inventory">
            <li class="Listmenu" :style="hoverbutton3">
              <img src="../assets/box.png" alt="" class="navbaricon"><br>
              <h6 class="text-body-emphasis h6" id="menu">รับสินค้าเข้าคลัง</h6>
            </li>
          </router-link>
          <router-link to="/addproduct">
            <li class="Listmenu" :style="hoverbutton4">
              <img src="../assets/icons8-plus-30.png" alt="" class="navbaricon" style="color: white;"><br>
              <h6 class="text-body-emphasis h6" id="menu">สร้างสินค้า</h6>
            </li>
          </router-link>
          <router-link to="/sell">
            <li class="Listmenu" :style="hoverbutton5">
              <img src="../assets/dollar-symbol.png" alt="" class="navbaricon"><br>
              <h6 class="text-body-emphasis h6" id="menu">จำหน่ายสินค้า</h6>
            </li>
          </router-link>
          <router-link to="/supplier">
            <li class="Listmenu" :style="hoverbutton6">
              <img src="../assets/whitetruck.png" alt="" class="navbaricon"><br>
              <h6 class="text-body-emphasis h6" id="menu">ผู้จัดส่ง</h6>
            </li>
          </router-link>
          <router-link to="/user">
            <li v-show="usermanageshow" class="Listmenu" :style="hoverbutton7">
              <img src="../assets/people.png" alt="" class="navbaricon"><br>
              <h6 class="text-body-emphasis h6" id="menu">ผู้ใช้งาน</h6>
            </li>
          </router-link>
        </ul>
      </div>
      <div class="float-end" id="profile">
        <div>
          <span class="float-end  btn">
            <h6 class="float-end dropdown-toggle mr-2" id="name" style="color:white;" @click="Click()">
              {{ name }}
            </h6>
          </span>
          <img class="float-end mx-1 mt-1" src="../assets/userpro.png" width="50px" alt="" id="avatar">
        </div>
        <div v-show="IsVisible" class="menu-dropdown mt-5 ">
          <b-icon icon="person" id="personicon"></b-icon>
          <label class="profilename">{{ name }}</label>
          <center>
            <hr id="hrline">
          </center>
          <router-link to="/" style="text-decoration: none;">
            <p class="dropdown-item pop-up-text" id="logout" @click="Logout()">ออกจากระบบ</p>
          </router-link>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'NavbarVue',
  data() {
    return {
      IsVisible: false,
      name: '',
      nav: true,
      usermanageshow: false,
      tapShow: false
    }
  },
  props:["hoverbutton1","hoverbutton2","hoverbutton3","hoverbutton4","hoverbutton5","hoverbutton6","hoverbutton7"],
  computed: {
    userId() {
      if (typeof window !== "undefined") {
        return window.localStorage.getItem("userid")
      }
      return null
    }
  },
  created() {
    this.getUser()
  },
  methods: {
    Click() {
      this.IsVisible = !this.IsVisible;
    },
    // ShowNameUser(username){
    //   this.name = username
    // }
    Logout() {
      this.$router.replace('/')
    },
    getUser() {
      return axios.get('http://localhost:8000/api_protal/account/getusername/' + this.userId).then((res) => {
        res.data
        // console.log(res.data[0].USER_ROLE);
        if (res.data[0].USER_ROLE != 'ผู้ใช้งาน') {
          this.usermanageshow = !this.usermanageshow
        }
        this.name = res.data[0].USER_NAME
      })
    }
  }
}
</script>

<style scoped src="../assets/style/Navbar.css"></style>  